[2016-01-20 16:18] mdegani opened #4 "Command not found after installing."
I received the following error:

![image](https://cloud.githubusercontent.com/assets/5910433/12454898/67a8ad84-bf67-11e5-8c1b-5f26de233b3d.png)

[2016-01-21 06:46] #4 closed

[2016-01-26 15:50] ericjim opened #5 "Starter gives the incorrect remote link on newly started repo when using https link"
I successfully start a new react redux project using rangle-starter.
[code]

However, my `origin` remote has an invalid link.
[code]

Upon further inspection, I see that my `origin` is missing the `//github.com`
[code]

With that said, since I am using two-step auth, I need to use an ssh key to push to my repo using the starter. So I change the remote to...
[code]

And that's how I circumvent the

[2016-01-26 15:52] ericjim commented on #5
The problem is this line:

[code]

I should've used the `git@github.com:ericjim/react-playground.git` to begin with.

[2016-01-26 22:33] SethDavenport commented on #5
Yeah I tend to use ssh URLs.  If you feel inclined to make it work with HTTPS ones, go ahead and make a PR :)

[2016-01-27 15:18] SethDavenport opened #6 "update redux-simple-router"
- typescript-react-redux-starter and react-redux-starter are using different versions
- the authors renamed it: https://github.com/rackt/react-router-redux/issues/80

[2016-01-27 15:23] SethDavenport opened #7 "Get all starters using our best-practice CSS toolchain"
Varun is cooking up some better ideas for CSS handling with webpack and cssnext.  Once it's solidified, let's get it into the starters.

[2016-01-27 15:24] SethDavenport opened #8 "Should we have an istanbul threshold set up by default?"

[2016-01-27 15:26] SethDavenport opened #9 "Babel 5 is no longer being maintained. Upgrade to Babel 6"
Early attempts to upgrade to Babel 6 exposed a lot of bugs in Babel.  We should try again soon.

[2016-01-27 15:27] SethDavenport opened #10 "React Hot Reload will soon be deprecated"
From neilff:

RHR is going to be deprecated in favour of React Transform.

This change is quite significant.

I'd recommend looking at their boilerplate project and bringing the changes in from over there https://github.com/gaearon/react-transform-boilerplate

There are some great features that come along with the React Transform ecosystem, we should look into taking advantage of what it offers.

[2016-01-27 15:29] SethDavenport opened #11 "npm warnings for angular2 starter"
npm WARN deprecated lodash@1.0.2: lodash@<2.0.0 is no longer maintained. Upgrade to lodash@^3.0.0
npm WARN engine joi-assert@0.0.3: wanted: {"node":">= 0.10.0 <= 0.11.0"} (current: {"node":"4.0.0","npm":"2.14.2"})

[2016-01-27 15:30] SethDavenport opened #12 "Get TypeScript Code Coverage Working"
Currently not hooked up for at least the angular 2 starter - let's make sure it's hooked up for all starters.

[2016-01-27 15:35] SethDavenport opened #13 "CI should fail on tslint, scsslint errors"

[2016-01-27 15:35] SethDavenport commented on #13
Webpack-dev-server will show you tslint errors, but the CI command (npm test) will still pass.

[2016-01-27 15:36] SethDavenport commented on #13
This is an old issue moved over from the angular starter repo; might just need validating.

[2016-01-27 15:37] SethDavenport opened #14 "Fix sourcemaps when generating CSS into a standalone bundle"
From igor-ka:

It is possible to generate css into a stand-alone bundle, and might be preferable in some situation. The steps required to generate a stand-alone css bundle can be found here.

When I tried this, the bundling worked but the source-maps became broken. I could get it to work for either .ts files or .css files, but not both, by playing with css loaders source maps parameter and devtool

[2016-01-27 15:37] SethDavenport commented on #14
There is an issue open for this already on ExtractTextPlugin end, webpack/extract-text-webpack-plugin#119

[2016-01-27 17:15] rbrander opened #15 "Production error in console"
On heroku, the following error is happening in the console:

You are currently using minified code outside of NODE_ENV === 'production'. This means that you are running a slower development build of Redux. You can use loose-envify (https://github.com/zertosh/loose-envify) for browserify or DefinePlugin for webpack (http://stackoverflow.com/questions/30030031) to ensure you have the correct code fo

[2016-01-28 03:15] SethDavenport commented on #15
Ng1: https://github.com/rangle/angular-redux-starter/pull/26

[2016-01-28 03:30] SethDavenport commented on #15
Ng2: https://github.com/rangle/angular2-redux-starter/pull/30

[2016-01-28 03:39] SethDavenport commented on #15
ES6-React: https://github.com/rangle/react-redux-starter/pull/68

[2016-01-28 03:45] SethDavenport commented on #15
TS-React: https://github.com/rangle/typescript-react-redux-starter/pull/15

[2016-01-28 03:50] SethDavenport commented on #15
Fixed in all starters.

[2016-01-28 03:50] #15 closed

[2016-01-28 03:57] SethDavenport opened #17 "Harmonize react and angular 2 sample apps"
Probably base things on the react apps, since they're more mature.

[2016-01-28 03:58] SethDavenport opened #18 "tsd appears to be deprecated. Investigate typings instead."

[2016-01-28 16:33] rbrander opened #19 "build is creating .js and .js.map files from .tsx"
When I run `npm run build`, each of the .tsx files in src are being transpiled into .js and .js.map files in the same place as the .tsx file.

I'd like a way to clean these files after the build is completed, or when `npm run clean` is executed.

[2016-01-28 17:32] rbrander commented on #19
This is no longer happening, I think it was fixed recently

[2016-02-01 01:16] SethDavenport opened #20 "Harmonize ng2 starter unit tests with ngCourse2"

[2016-02-01 01:18] SethDavenport commented on #11
Fixed by PR https://github.com/rangle/angular2-redux-starter/pull/31

[2016-02-01 01:18] #11 closed

[2016-02-01 01:19] SethDavenport commented on #18
Fixed in the angular 2 starter: https://github.com/rangle/angular2-redux-starter/pull/31

[2016-02-01 02:01] SethDavenport commented on #18
Fixed in angular 1 starter: https://github.com/rangle/angular-redux-starter/pull/27

[2016-02-01 03:26] SethDavenport commented on #18
Started the react-typescript one: got stuck.  Details here: https://github.com/rangle/typescript-react-redux-starter/pull/16

[2016-02-01 03:31] #19 closed

[2016-02-02 03:59] #18 closed

[2016-02-02 04:05] SethDavenport commented on #6
This has been done for the typescript starter as part of https://github.com/rangle/typescript-react-redux-starter/pull/16

[2016-02-02 04:43] SethDavenport commented on #18
Updated the typescript one as well.

[2016-02-02 04:46] SethDavenport commented on #6
And also for the es6 react starter: https://github.com/rangle/react-redux-starter/pull/69

[2016-02-02 05:10] SethDavenport opened #23 "React-starters use bad case convention for file names"

[2016-02-02 05:10] SethDavenport commented on #23
As agreed in Slack: no caps in filenames.  Company convention is kebab-case.js.

caps in filenames cause pain in other OSs.

[2016-02-02 05:16] SethDavenport opened #24 "Harmonize react-starter unit tests."

[2016-02-02 05:17] SethDavenport commented on #24
ts-react has no unit tests.  es6-react has them, but their in a /test folder; they should live next to the components/reducers they're testing, per Rangle convention.

[2016-02-02 05:18] SethDavenport commented on #24
@andrejkn: If you get a ts-react `npm test` command working for your current project, make a similar PR to ts-react.

I'll take care of actually porting over the actual component tests themselves from es6-react.

[2016-02-02 05:19] #6 closed

[2016-02-02 08:46] HansS opened #25 "windows using rangle-starter"
run: npm install
        webpack

and get the following errors:¨

ERROR in multi vendor
Module not found: Error: Cannot resolve module 'angular2/bundles/angular2-polyfills' in C:\Users\Hans\Web\js\angular20-redux\angular2-redux-starter
 @ multi vendor

ERROR in multi vendor
Module not found: Error: Cannot resolve module 'angular2/bootstrap' in C:\Users\Hans\Web\js\angular20-redux\angular2-redux-st

[2016-02-02 14:58] SethDavenport commented on #25
HI @HansS , can you let me know what version of node and npm you are using?

[2016-02-02 16:38] HansS commented on #25
Hi Seth,node: 5.3.0npm: 3.5.3
regardsHans

Date: Tue, 2 Feb 2016 06:58:57 -0800
From: notifications@github.com
To: rangle-starter@noreply.github.com
CC: hans.schenker@windowslive.com
Subject: Re: [rangle-starter] windows using rangle-starter (#25)

HI @HansS , can you let me know what version of node and npm you are using?

—
Reply to this email directly or view it on GitHub.

[2016-02-02 17:18] SethDavenport commented on #25
Thanks - currently I've tested it on Mac OS X (Yosemite, El Capitan) and Linux Mint 17.3.

We haven't needed to use this on Windows yet so there's likely some compatibility work that needs to be done.  I'll see if I can get someone here to look into it more.

[2016-02-02 18:51] SethDavenport opened #26 "Add a sample e2e test"

[2016-02-02 18:52] SethDavenport commented on #26
I'm thinking we can use the approach shown here: https://github.com/rangle/ngcourse-next/pull/44

[2016-02-02 20:00] SethDavenport opened #27 "use `exclude` instead of `files` in `tsconfig.json`"

[2016-02-02 20:01] SethDavenport commented on #27
files will cause our code's types to be ignored,  Really we just want to exclude the duplicate dependencies from `typings`.

e.g.

[code]

[2016-02-02 20:02] SethDavenport commented on #25
As discussed, @igor-ka can you take a look?

[2016-02-02 20:03] SethDavenport commented on #25
It's also worth noting that the bootstrap script (`npm install -g rangle-starter`) probably also doesn't work on windows since it's a simple wrapper around a bash script.  We can probably look at that in a second pass though.

[2016-02-02 21:42] igor-ka commented on #25
@SethDavenport I'll have a look whenever I get a chance :) but should be able to get Windows to work with minimal changes

[2016-02-03 02:41] #27 closed

[2016-02-03 04:31] HansS commented on #25
Hi Seth,
thank's a lot that you also care for the windows version!
regardsHans

Date: Tue, 2 Feb 2016 12:05:43 -0800
From: notifications@github.com
To: rangle-starter@noreply.github.com
CC: hans.schenker@windowslive.com
Subject: Re: [rangle-starter] windows using rangle-starter (#25)

It's also worth noting that the bootstrap script (npm install -g rangle-starter) probably also doesn't work on win

[2016-02-03 20:40] SethDavenport opened #28 "rangle-starter doesn't work on Windows"

[2016-02-03 20:41] SethDavenport commented on #28
Because it's a simple wrapper around a bash script.

Might be able to get some traction with https://github.com/shelljs/shelljs

[2016-02-03 21:03] bennett000 commented on #28
Would migrating away from a simple script make this harder to maintain, and/or more prone to breaking?

ShellJS might be a good solution though, I haven't looked at it closely yet.

I _do_ know that it's not that complex to use a child_process wrapper, but how that fits with git on Windows I don't know.

[2016-02-03 21:04] SethDavenport commented on #20
Also I see @joehandlebar has been working in this area as well.

[2016-02-03 21:04] xorgy commented on #28
There are also bash distributions for Windows, which you are likely to require anyway.

[2016-02-03 21:05] SethDavenport commented on #20
Connected to https://github.com/rangle/angular2-redux-starter/pull/34

[2016-02-03 21:10] #20 closed

[2016-02-03 21:40] joeyrobert commented on #28
Thoughts on porting it to JS entirely? Minimal dependencies.

[2016-02-03 21:44] xorgy commented on #28
@joeyrobert Considering that there's an entire node module just to implement "rm -rf", it would seem like overkill.

[2016-02-03 21:47] joeyrobert commented on #28
The alternative is "implement a bash interpreter for Windows", which seems like a bigger overkill than using cross platform do-one-job libraries.

[2016-02-03 21:49] xorgy commented on #28
Not `implement a bash interpreter for Windows`. There are bash binaries for Windows, just need to use them.

[2016-02-03 21:53] joeyrobert commented on #28
Shell.JS seems like a decent compromise, but the functionality needed for this small script is built into node already (`fs`, child process).

[2016-02-03 21:57] xorgy commented on #28
I'm specifically talking about [line 27](https://github.com/rangle/rangle-starter/blob/master/repocopy.sh#L27), which does an `rm -rf`.

There is no built-in support for recursive directory deletes in node, so people make modules like https://github.com/isaacs/rimraf to do it.

[2016-02-03 22:43] SethDavenport commented on #28
The project already depends on rimraf for other reasons so that's not an issue as far as I know.

I've used a couple of bash binaries for windows, they were both kind of meh - cygwin, git-bash.

The script itself isn't that complicated.  The weirdest thing is does is apply some regexes, which is easy in JS.  Might be able to do it in vanilla JS.

[2016-02-04 02:19] #9 closed

[2016-02-04 03:28] SethDavenport commented on #12
This is fixed in es6-react

[2016-02-04 04:42] SethDavenport commented on #13
Validated that this is set up for react-redux-starter.  However it's not set up for typescript-react-redux-starter.  One complication is that `tslint` doesn't support folders as arguments like `eslint` does.  Specifying all our files one by one is impractical.

Let's keep an eye on this PR: https://github.com/palantir/tslint/pull/857

[2016-02-04 04:43] SethDavenport commented on #13
An alternative would be to configure webpack tslint-loader to fail on warnings as part of `npm build`; I don't really like the way this mixes concerns though.

[2016-02-04 23:43] SethDavenport opened #29 "Upgrade to typescript 1.8"

[2016-02-05 22:26] #24 closed

[2016-02-05 22:28] SethDavenport commented on #29
Done for ts-react.  Still needs to be done for ng1, ng2.

[2016-02-06 15:40] louy commented on #13
it supports globs though. `tslint 'dir/**/*.ts'`

[2016-02-10 18:24] arashbi opened #30 "ng2 Chalk is missing"
Chalk was missing from npm, I had to install it manully to make it work

[2016-02-14 08:27] SethDavenport commented on #30
@arashbi thanks for the heads up.  Will fix once I'm back from vacation.

[2016-02-19 05:18] SethDavenport opened #31 "Update CI to run with latest nodejs LTS"
We should make sure the app, tests, etc. run with the latest stable node release (currently 4.3.1).  This can be done by updating `circle.yml`.

[2016-02-19 23:39] SethDavenport opened #32 "Come up with better code-sharing across starters"

[2016-02-19 23:41] SethDavenport commented on #32
Right now we have a lot of duplicate configs between starters.  It would be nice to share some of it - candidates include:
- lint rules
- circle.yml
- Procfile
- package.json run scripts
- server.js
- webpack.conf
- collections of dependencies:
  - typescript stuff
  - babel stuff
  - redux stuff
  - react stuff
  - Etc.

If we harmonize the apps we can maybe even centralize the store and reducer

[2016-02-19 23:51] SethDavenport opened #33 "npm WARN deprecated graceful-fs@2.0.3: graceful-fs version 3 and before will fail on newer node releases."

[2016-02-19 23:54] SethDavenport commented on #33
Observed in angular2 starter on a clean `npm install`; should check the others too.

The old version of graceful-fs seems to be pulled in by `mocha 2.4.5`

[2016-02-20 00:02] SethDavenport commented on #29
Completed for ng1, ng2.

[2016-02-20 00:04] SethDavenport commented on #32
It would also be nice to make the rangle-starter CI run itself and `npm start` on all four repos to make sure they're functional.

[2016-02-20 00:04] #29 closed

[2016-02-20 00:11] #30 closed

[2016-02-20 00:12] SethDavenport commented on #30
This has been fixed in the angular2-redux-starter tech stack.

[2016-02-20 00:13] SethDavenport opened #34 "TS2661 Error from angular2 beta.6"

[2016-02-20 00:14] SethDavenport commented on #34
The combination of angular2 beta.6 and typescript 1.8 results in an error from TS:

This is apparently fixed in angular2 beta.7: https://github.com/angular/angular/blob/master/CHANGELOG.md#200-beta7-2016-02-18

[2016-02-20 00:28] #34 closed

[2016-02-20 01:15] #31 closed

[2016-02-20 01:17] SethDavenport commented on #13
es6-react verified: `npm test` runs `eslint` correctly.

[2016-02-20 01:29] SethDavenport commented on #13
@louy: thanks - I tried a similar glob but was missing the quotes. Seems to work with them.

[2016-02-20 01:36] SethDavenport commented on #13
submitted PR for ng1

[2016-02-20 01:41] SethDavenport commented on #13
submitted PR for ng2

[2016-02-20 01:46] SethDavenport commented on #13
submitted PR for ts-react

[2016-02-20 01:49] #13 closed

[2016-02-20 03:01] SethDavenport commented on #32
One interesting approach might be have the repo copy script ask for a bunch of choices instead of a single tech stack argument - something like:

rangle-starter-2

... and it would cook up a starter from bits for you.  Remains to be seen if this is less effort or not.

[2016-02-20 23:44] Meligy opened #35 "Option to work without existing remote/Github repository"
Can you please provide a way to get a project started without having to create a remote github repository first?

Good when all I want is play with the bits, explore the starters outputs, etc.

Thanks a lot.

[2016-02-21 00:15] SethDavenport commented on #35
@Meligy you don't actually need to create a remote repo - this argument is simply to set up the git remotes for our internal style of working.

If you supply some fake arguments it will still clone the repo and let you run it locally, e.g:

[code]

should work.

You can then clean up the remotes manually if you want since this is the only thing those arguments are used for anyway:

[code]

I'll co

[2016-02-21 00:25] SethDavenport commented on #35
Alternately you can clone the starter repos directly, without using the `rangle-starter` command:

[code]

[2016-02-21 00:46] SethDavenport opened #36 "Come up with best practices for react and typescript"
Doing typescript with react is still a bit unconventional, but I think there's a lot of promise there.  However the current starter has a few outstanding questions I'd like us to resolve.

1. `React.PropTypes` vs making an `interface` for your props: having both seems redundant.  Currently leaning in favour of making an interface only, since it will catch issues at compile time instead of at run t

[2016-02-21 00:46] SethDavenport commented on #36
@bennett000 @yuri @winkerVSbecks @bertrandk @rbrander @andrejkn

[2016-02-21 05:05] SethDavenport commented on #36
Current issues:

redux-react's `connect` typing won't accept a functional stateless component:

[2016-02-21 05:20] SethDavenport commented on #36
2: Same thing for `reduxForm`:

[2016-02-21 05:23] winkerVSbecks commented on #36
@SethDavenport official typings coming soon: https://github.com/reactjs/redux/pull/1413

[2016-02-21 05:45] SethDavenport commented on #36
That's cool - I can work around (1) in the meantime by converting my containers to `class` components.

However `redux-form` typings have the same issue.  I'm also expecting Radium to have it as well, although I haven't tried it yet. Actually not sure Radium even has typings...

[2016-02-21 09:37] Meligy commented on #35
Thanks a lot :)

I thought from the webinars that I could clone these but when I went to them it seemed all info was about the CLI.

I'll have a play with that.

---

Now, regarding providing the fake git, it didn't work for me.

Here's the output:

[code]

If relevant, I'm on latest Mac OS El Capitan, in a latest Oh My ZSH version terminal, with the following tooling versions:

Node: 5.5.0
NPM: 3

[2016-02-21 23:56] SethDavenport commented on #36
@winkerVSbecks - that PR is for redux, which is great.  But I'm talking about `connect()` from `react-redux`.

[code]

We need an overload of this that doesn't return ClassDecorator, but rather something that can decorate `StatelessComponent<P>`

Might make a PR to DefinitelyTyped at some point.

[2016-02-22 00:39] winkerVSbecks commented on #36
@SethDavenport yes, my bad. @bennett000 mentioned that DefinitelyTyped has kind of stalled at this point. Since, Redux is bringing typings into the main repo we should probably do the same for react-redux, etc.

[2016-02-22 01:03] SethDavenport commented on #7
Most likely will be basscss + Radium for es6-react and ts-react.

For Angular 1 and 2 we're looking at basscss + postcss

[2016-02-22 13:42] winkerVSbecks commented on #7
@AbdellaToronto is working on a PR for angular 2 starter.

[2016-02-22 21:27] cramhead opened #37 "npm install fails on Windows 7 64bit"
There are a number of events that log errors throughout the ```npm install``` process.
All there errors seem to be around the gentlyRM and the node_modules\.staging folder
I've include an excerpt. If you'd like more please let me know.

[code]

[2016-02-23 04:47] SethDavenport opened #38 "Improve React stateless functional components"
There are a couple of improvements we can make to the way we use stateless functional components in the two React starters.

For example, consider this component:

[code]

Now consider this version:

[code]

IMO it has several improvements:
1. less boilerplate
2. specifying default params inline as part of parameter destructuring is DRY-er
3. using named functions instead of arrow functions result

[2016-02-23 05:01] SethDavenport commented on #38
The typescript version is similar, but we trade propTypes for compile-time type checking:

[code]

[2016-02-23 05:04] SethDavenport commented on #37
We currently only support linux and MacOS.  If I get some time on a Windows box I'll take a look.

[2016-02-23 05:04] #23 closed

[2016-02-23 19:09] neilff commented on #38
For #2, one of the reasons we use `defaultProps` is to allow for parsing with react-docgen, with defaulting props via restructuring, will react-docgen still pick them up? Also, there might be a few strokes saved here, but how does it look with stateful components? There might be an odd disconnect if we have two different ways of declaring them based on which type of component is written.

Also, an

[2016-02-23 20:24] cramhead commented on #37
I removed the bassCSS-radium dependency and it worked fine

[2016-02-23 21:09] cramhead commented on #37
Thanks. When remove bassCSS.radum `npm install` completed properly.

[2016-02-23 21:11] SethDavenport commented on #37
Yeah, just tried that myself.

I'm just fixing a couple of npm script related issues and then I'll merge a fix.

[2016-02-23 23:12] SethDavenport commented on #37
Fix merged for the typescript-react starter.
Still need to apply changes to the other starters.

[2016-02-23 23:14] cramhead commented on #37
I expected that they didn't need the environment setting so I didn't adjust them

[2016-02-23 23:33] SethDavenport commented on #37
The environment variable controls minification, file watching, and how the
assets are served.

I have some plans to improve things so we don't need the variable but at
least it should work for now.
On 2016-02-23 6:14 PM, "Marc" notifications@github.com wrote:

[2016-02-23 23:36] cramhead commented on #37
Cool. I close this issue then.

[2016-02-23 23:36] #37 closed

[2016-02-24 03:33] SethDavenport commented on #38
named functions do appear to fix the defaultName issue.  I'll look into react docgen.

[2016-02-24 03:34] SethDavenport commented on #38
It's not just about the keystrokes - the current approach isn't very DRY.

[2016-02-24 20:36] cramhead opened #39 "Support redux-devtools"
There are dependencies for redux-devtools, but that they are not used.
Are you guys manually adding and removing redux-devtools?
I was thinking that it would be good if we could get them included via a specific ```npm run *``` command. Do you guys have a plan for this already in the works?

[2016-02-25 01:03] SethDavenport commented on #25
@HansS: angular2-redux-starter should work in Windows now.  To run it, do:

[code]

[2016-02-25 01:13] SethDavenport commented on #28
@bennett000 took a stab at porting to JS, needs cleanup and testing:

[code]

[2016-02-25 01:15] SethDavenport commented on #39
Hmm might just be an oversight.  I'll look into it.

[2016-02-25 01:17] #25 closed

[2016-02-25 01:22] cramhead commented on #39
Seems like the type definitions are a bit old for redux, so the approach specified in the redux-devtools repro with the third parameter passed to createStore, i.e. https://github.com/gaearon/redux-devtools/blob/master/docs/Walkthrough.md, doesn't build with typescript.
I checked the definitely typed repro and there was a pull request, but the requester wanted to prefix interfaces with 'I' and it s

[2016-02-25 17:01] bennett000 commented on #39
@cramhead there have been a number of issues with respect to Definitely Typed's Redux collection.  Fortunately Redux is going to have [official typings soon](https://github.com/reactjs/redux/pull/1413).  Once they get in, `tsc` should be able to find them using node module resolution.

In the short term there are [Redux typings with generics](https://github.com/rangle/typings-redux) that are more

[2016-02-25 18:10] #28 closed

[2016-02-25 18:12] SethDavenport commented on #39
@cramhead: alternatively, if you're not sold on typescript we maintain a very similar starter project based on babel which you may find to be a better fit for your needs:

https://github.com/rangle/react-redux-starter

The recent windows fixes have been ported over there as well.

[2016-02-25 18:13] SethDavenport opened #41 "Consume official redux typings"
Official redux typings are afoot: https://github.com/reactjs/redux/pull/1413. When they're ready we should fold them into the ts-react starter.

[2016-02-27 21:32] SethDavenport opened #42 "se"

[2016-02-27 22:16] xorgy commented on #42
???

[2016-02-27 22:18] SethDavenport commented on #42
oops - I need 'focus follows thought'

[2016-02-27 22:18] #42 closed

[2016-02-27 23:00] SethDavenport opened #43 "Decide, document, and test minimum browser support."
I'm thinking we're limited by what the main frameworks support, but that we need to decide what we're willing to worry about as well.  I suggest the following:

es6-react, ts-react:
* IE9, Android 4.1, iOS 8

angular1:
* IE9, Android 4,1, iOS8

angular2:
* IE9, Android 4,1, iOS8? Depends on what ng2 supports in the end.

[2016-02-27 23:47] SethDavenport commented on #43
@yuri @winkerVSbecks @e-schultz @neilff

[2016-02-28 05:36] SethDavenport commented on #43
Added standard polyfills for es6 and es5.  The react app now at least runs on IE9 but anything that uses flexbox is borked.

This should get fixed when we include autoprefixer.

[2016-02-28 16:17] bennett000 commented on #43
Browser stats aren't necessarily reliable/consistent but it seems like there's still a fair bit of [IE8 Share](https://www.netmarketshare.com/browser-market-share.aspx?qprid=2&qpcustomd=0) out there.

[2016-02-29 01:35] rudijs commented on #12
Hi,

+1 would love to see HTML code coverage reports.

This is the very first thing I went looking for:

1) git clone
2) npm i
3) npm test
4) find the HTML code coverage... not there? direct to issues and search for "coverage".

I'm going to spend a little time now looking at it locally, but from my Angular1 + webpack + karma/istanbul experience it can be a time sink to figure out and get going.

[2016-02-29 16:12] SethDavenport commented on #12
We've been struggling to get istanbul to work properly with typescript.  If you have some thoughts around this I'd love to hear them.

[2016-02-29 16:49] rudijs commented on #12
Yeah I know it's not so simple to get going.

I haven't had a look at this repo yet, but I have got it working with AngularJS v1.x.

The stack is:

Typescript
Mocha
Sinon
Chai
Karma
Instanbul
Webpack

There's some webpack pre-loader configs in karma.conf that did the trick for me.

You might like to take a peek at lines 7-25

https://github.com/rudijs/ng-docker/blob/master/karma.conf.js

You're we

[2016-02-29 17:29] JaKXz opened #44 "Organize npm production vs devDependencies properly"
I noticed that the angular2 starter has *all* its dependencies listed under `devDependencies`. This should probably get split properly for when someone has built an app and wants to deploy it and run `npm install --production` [in their `Dockerfile` for example].

[2016-02-29 18:54] SethDavenport commented on #44
Webpack blurs the line between the two types of dependency, because these are no longer needed to _run_, they're needed to _build_.

So that's why everything is a devDep.  Sorting through which should be what is a philosophical thing right now.  Your argument about `npm install --production` is worth considering, however in order for it to work we'd have to list a bunch of build tools as prod depe

[2016-02-29 18:54] SethDavenport commented on #44
@bertrandk @e-schultz @bennett000 @neilff thoughts?

[2016-02-29 19:01] bennett000 commented on #44
Whenever I make projects that produce a static build I treat the dependencies as development dependencies.  That's just what I've been doing though for pretty much the exact reasons Seth mentions, I'm not married to it, but it makes sense to me.

[2016-02-29 19:24] e-schultz commented on #44
I've thought about this before - and have had projects where it's doing a build on the server it's deployed to (ie: heroku), and either end up telling Heroku to install dev dependencies anyway, or put everything under "dependencies".

With the flow that most projects seem here to take of 'deploy to X / npm run build' - the line between dep and devDep does blur a little, as we are leaving it upto t

[2016-02-29 22:41] bennett000 commented on #44
Having containers/servers do builds is a bit of a double edge sword.

On the one hand it _guarantees_ that all dependencies are properly installed and compiled to the correct architecture with the correct case sensitivity.

On the other hand it means having a bunch of potentially dangerous build tools/steps left on the server/container.

In a perfect world we might have some sort of build containe

[2016-02-29 23:34] SethDavenport opened #45 "Evaluate GreenKeeper"
Automated npm dependency checks: http://greenkeeper.io/

Jason's looking into trying it out on the ng2 starter.

[2016-03-02 19:13] SethDavenport commented on #17
Alan has volunteered to take a look at this.

[2016-03-02 22:16] alanthai commented on #17
@SethDavenport

Two questions:
1) Do you want things broken down into bite-sized components like in React (including feeding in inline styles, etc)
2) Is [Angular2 Forms](https://angular.io/docs/ts/latest/guide/forms.html) the best way to handle forms? (I don't know of any redux-form alternatives)

[2016-03-03 03:23] SethDavenport commented on #17
1) Yes - I would like to keep the same folder and component structure across apps as much as possible.  In general granular components and inline styles are the way we're going.

For the angular2 components, try to stick to basscss the way it's done in React, but for any 'inline' stuff, you can aways use

[code]

... which angular 2 cleverly scopes to the component by default.

2) I would ask @e-s

[2016-03-03 03:27] SethDavenport commented on #17
@mattmcfad @alanthai I would also suggest making one or two components: maybe say the about page first and put that up for code review.  Then we can sync up on approach before getting in it too deep.

[2016-03-03 14:05] mattmcfad commented on #17
@SethDavenport sounds good :+1:

[2016-03-03 17:46] JaKXz commented on #45
We've decided to enable Greenkeeper on all starters, and we'll continue to evaluate it. Marking this as done for now :)

[2016-03-03 19:24] SethDavenport opened #47 "Use webpack dev server"
The current approach. based on serve-webpack-client, makes hot reloading and live reloading harder than they should be. It's also non-standard.

[2016-03-03 23:31] #47 closed

[2016-03-05 22:04] SethDavenport commented on #45
Hey @JaKXz did you do this for angula-redux-starter and typescript-react-redux-starter?

[2016-03-06 03:09] SethDavenport commented on #45
Never mind I just did.

[2016-03-06 03:18] SethDavenport opened #48 "react-router-redux 4 breaks things"
Their history API has changed.  Need to adjust to the new model.

[2016-03-06 03:21] SethDavenport commented on #48
`Uncaught TypeError: react_router_redux_1.syncHistory is not a function
client?cd17:22.`

[2016-03-06 03:41] SethDavenport commented on #45
Shiny and chrome for ever

[2016-03-06 03:43] #45 closed

[2016-03-06 15:44] e-schultz commented on #17
@SethDavenport @alanthai Still playing around with forms in Angular 2, trying to get a feel of going with purely template-driven forms vs using the form builder.

While I do think that there can be benefit to keeping your form state in a reducer, especially from a debuggability perspective - I think it's more of a 'nice to have', not a 'must have', unless a feature request actually required it (ie

[2016-03-07 05:37] SethDavenport commented on #33
[code]

[2016-03-07 06:30] SethDavenport opened #49 "Clean up how styles are used in all starters"
Currently there are a few things that could be improved about CSS for the react starters.

1. inline styles should use Radium so we can benefit from vendor prefixing etc.
2. we pass `className` around a lot when it should be part of the base styles for a component.
* [x] es6 react
* [x] typescript react
* [x] ng1
* [x] ng2

[2016-03-07 06:35] #7 closed

[2016-03-07 16:21] kosz commented on #32
are we still not interested in using Slush for some of this ?

[2016-03-07 18:27] winkerVSbecks opened #50 "Use node_modules/.bin links for NPM scripts"
The NPM scripts currently assume we have things like `webpack`, `cross-env`, `eslint`, etc globally installed. This is not mentioned anywhere. Since, we already install these as local dependencies we can use `node_modules/.bin` links instead. For example:

[code]

[2016-03-07 19:59] SethDavenport commented on #50
When these commands are run using `npm run foo` n looks in `node_modules/.bin` anyway. So this shouldn't be needed.

[2016-03-07 19:59] #50 closed

[2016-03-07 19:59] bennett000 commented on #50
@winkerVSbecks `npm` automagically puts `node_modules/.bin` into PATH when scripts are run https://docs.npmjs.com/misc/scripts

[2016-03-07 19:59] SethDavenport commented on #50
When these commands are run using `npm run foo` npm looks in `node_modules/.bin` anyway. So this shouldn't be needed.

[2016-03-07 20:00] winkerVSbecks commented on #50
:+1: did not know that.

[2016-03-08 00:20] winkerVSbecks commented on #49
@SethDavenport How do you fee about getting rid of the `Column` component. IMO this doesn't provide much value. We could instead just do:

[code]

[2016-03-08 00:36] SethDavenport commented on #49
Yeah I agree.  There are a few things like that...

[2016-03-11 16:27] SethDavenport opened #51 "set up css linting"
Should run as part of `npm test` (for CI) and optionally as a webpack preloader.

[2016-03-11 16:33] SethDavenport commented on #51
I'm thinking `stylelint` and `stylelint-loader`.

Then in `package.json`:

[code]

Ask @winkerVSbecks  for acceptable `.stylelintrc` options.

[2016-03-11 16:39] winkerVSbecks commented on #51
To make this easy… I use suitcss's config https://github.com/suitcss/stylelint-config-suitcss
It was setup using stylelint 4.5 and in stylelint 5.0 some of the rules were renamed.

This is the suitcss config updated with the new rule names:

[code]

[2016-03-11 18:48] SethDavenport commented on #51
Awesome. Thanks.

[2016-03-11 18:51] SethDavenport commented on #49
For reference, we decided not to go with Radium for now.  The reasoning is that 90% of your styling should be with basscss classes; anything exotic is best kept in a component-specific .css file that gets `required` into the JSX and uses BEM syntax for scoping.

This allows it to benefit from the entire postcss toolchain including theme variables and autoprefixer support (Radium does some prefixin

[2016-03-11 19:38] SethDavenport opened #52 "Namespace UI Components"
The starter app breaks down UI into granular UI components, consistent with our practice.  However they are not namespaced to the project, which is inconsistent with our practice.

This leads to the risk of name clashes with other libraries, and in some cases with HTML itself (which is bad).

[2016-03-11 19:44] SethDavenport commented on #52
So unless anyone screams foul I suggest we adopt the convention of a project-specific prefix for angular1/2 selectors, component class names, and JSX components. However, we don't need to bother prefixing the actual file names, because of bundling.

So for example, if the starters adopt the prefix 'rio' (rangle.io), we would have the following examples:

**ng2**

`components/form.ts`:

[code]

**n

[2016-03-11 19:45] SethDavenport commented on #52
@neilff @e-schultz @bennett000 @bertrandk

[2016-03-11 20:47] neilff commented on #52
Looks fine to me. I understand the angular change, not sure the React one will provide as much value as I am still able to rename my component when I import it. e.g. `import RioFormRenamed from './form';` (this assumes it is a `default export`).

[2016-03-13 16:43] kosz commented on #52
speaking of `export default` maybe we need to decide on a standard for exporting _components_ ?

React Components ( just like Angular Components ) normally have a dedicated file.

does it make sense to use `export default` all the time or `export` ? Because that could impact this issue. If we use `export default` then we don't need to give them special names, we just need to import them with speci

[2016-03-13 16:52] kosz commented on #35
would it make sense to not do any git init by default if no git url is provided ?

personally I don't use rangle-starter because of the git things it does by default, I just clone the starter I want manually and `rm -rf .git`

[2016-03-13 19:44] kosz opened #53 "devDependencies not being installed on heroku by default"
Even though the `app.json` file seems to configure NPM_CONFIG_PRODUCTION=false, deployment attempts on Heroku do not work until this setting is manually added to heroku using the heroku toolbelt.

Steps to reproduce ( at least on my heroku account ):

- clone the starter repo and setup a new github repo with it
- setup Heroku to deploy from the new github repo
- attempt to manually deploy

Steps t

[2016-03-13 20:02] SethDavenport commented on #35
Yeah that makes sense - then we could make those params optional

[2016-03-13 21:11] SethDavenport commented on #52
Yeah in React it seems more common to export default, since you're doing one component per file.

In Angular, non-default exports seem to be the norm.  You should still be doing more than one export per file, but the community seems to non-default things.  Maybe because typescript occasionally means  a component file exports a component and a few supporting interfaces?

Nonetheless, prefixing is d

[2016-03-13 21:12] SethDavenport commented on #52
In angular code, I've also started seeing a log of `index.ts` files that lump together exports from subfolders.  I'm not sure how I feel about this to be honest.  Feels a bit redundant.

Maybe this is a topic for the next architecture guild.

[2016-03-13 21:26] kosz commented on #52
I feel that index.ts aggregating pattern could be good for a framework, where you don't want your end users to remember many paths and file names.

[code]

However I'm thinking this may be not be as useful for an actual application ( as opposed to a framework ).

Actually let me rephrase that :

Maybe this is a good pattern to use for highly reusable almost framework level components, but maybe no

[2016-03-13 22:24] SethDavenport commented on #52
Yeah - it's nice for importing stuff from angular2 for example.

However for UI components I find it a bit onerous.  Even if you have a folder for each component (due to external CSS or whatever), I prefer a patter more like:

[code]

... etc.

This way you can still import a component using

[code]

I'm not dogmatic about it though.

[2016-03-13 22:28] SethDavenport commented on #52
@neilff One question about prefixing components, even if they are renamable default exports, is whether it affects the name that shows up in react dev tools.

Is it inferred from the thing being exported or the thing being imported?  If it's the former we could still have name collisions in the dev tool.

E.g.

[code]

[code]

Will it show up in dev tools as `MyComponent` or `Whatever`?

[2016-03-13 22:33] SethDavenport commented on #39
For the record, I've decided to go with the chrome extension version of redux devtools.  It's less intrusive to the code base and easier to use.  Working to update all starters with this in mind.

[2016-03-13 22:46] SethDavenport opened #54 "Add contribution guideliness"
Getting some PRs from the community now which is great.

We should post some contribution guidelines.  Tips on rangle-flow, CI, etc.

Might be able to recycle from other open Rangle projects?

[2016-03-13 22:46] SethDavenport commented on #54
@bertrandk any tips would be appreciated.

[2016-03-13 23:15] SethDavenport commented on #39
The non-chrome-extension version of redux devtools also has a peer dependency on React, making it unsuitable for the Angular starters!  The Chrome Extension version has no such problem.

[2016-03-15 01:56] SethDavenport opened #55 "add cssnano"
Minifies bundled styles using postcss

[2016-03-15 01:57] SethDavenport commented on #55
At least for prodmode:

`npm install cssnano --save-dev`

webpack.config.js:

[code]

[2016-03-15 17:28] #17 closed

[2016-03-15 17:29] SethDavenport opened #56 "Harmonize angular2 and angular1 sample apps"
See #17.

[2016-03-15 18:45] SethDavenport opened #57 "autoprefixer warning"
Warning: postcss-cssnext found a duplicate plugin ('autoprefixer') in your postcss plugins. This might be inefficient. You should remove 'autoprefixer' from your postcss plugin list since it's already included by postcss-cssnext.
Note: If, for a really specific reason, postcss-cssnext warnings are irrelevant for your use case, and you really know what you are doing, you can disable this warnings b

[2016-03-15 18:47] SethDavenport commented on #57
In webpack confic, this:

[code]

needs to turn into this:

[code]

[2016-03-15 23:20] SethDavenport commented on #26
Actually the QA group has settled on Robot.

[2016-03-15 23:21] SethDavenport commented on #26
Sample tests written for react-redux-starter.  Other starters pending.

[2016-03-16 18:35] JaKXz opened #58 "Update ng1 starter to use .component and component router"
https://docs.angularjs.org/guide/component

[2016-03-16 18:58] JaKXz opened #59 "ng1 starter has no [real] tests"

[2016-03-16 19:10] SethDavenport commented on #58
Now that 1.5 is out that makes sense.

[2016-03-16 19:11] SethDavenport commented on #59
This should wait until after #56 is done

[2016-03-16 19:12] SethDavenport commented on #52
This should wait until after #56 is done.

[2016-03-16 19:16] SethDavenport commented on #54
Actual guidelines can live in rangle-starter/README.md with links in the other repos.

[2016-03-16 19:21] nexus-uw opened #60 "angular-2 starter pack includes test files in dev + prod builds"
currently the webpack config does not exclude ```.test.ts``` files.

[2016-03-16 21:25] mattmcfad commented on #58
We should also update ngcourse-next to reflect this: [Using Components in your Angular 1.x Application](http://ngcourse-1.rangle.io/handout/05-components/02_Components/11_Using_Components_in_your_Angular_1_x_Application.html)

@SethDavenport should this be included in #56 or in a separate ticket?

[2016-03-16 21:29] SethDavenport commented on #58
@mattmcfad it's up to you.  You can roll it into #56 if you want.

[2016-03-16 22:11] SethDavenport commented on #60
@nexus-uw Webpack only includes what's in the import tree from the entry file (app.ts).  So this shouldn't be an issue?

[2016-03-16 22:30] #57 closed

[2016-03-16 22:43] nexus-uw commented on #60
while the test files are not included in the app.js, their transpliation errors do show up in the web console.

![screen shot 2016-03-16 at 6 36 42 pm](https://cloud.githubusercontent.com/assets/3188890/13831002/e4f51e2e-eba6-11e5-8381-939084073a13.png)

 not sure if this needs to (or can) be fixed at the end of the day.

[2016-03-17 15:51] JaKXz commented on #54
https://medium.com/the-javascript-collection/healthy-open-source-967fa8be7951

[2016-03-17 17:51] JaKXz commented on #33
https://github.com/mochajs/mocha/issues/2121

[2016-03-17 21:07] #60 closed

[2016-03-17 22:47] JaKXz commented on #54
We can also put issue and PR templates in a `.github` folder: https://github.com/blog/2111-issue-and-pull-request-templates

[2016-03-18 04:47] #48 closed

[2016-03-18 04:49] SethDavenport commented on #39
Chrome extension redux devtools have been enabled on all starters.  You can get the extension here: https://github.com/zalmoxisus/redux-devtools-extension.

Tracking an issue with the angular starters where actions fired in-app are reflected in the tools, but actions fired from the tools are not reflected in the app.

Investigating...

[2016-03-18 04:55] SethDavenport commented on #39
Actually it now works for angular 1.  The secret sauce is this:

[code]

(source: https://github.com/wbuchwalter/ng-redux#using-devtools)

Hooking in the dev tools actions to the digest cycle, which makes sense.  There seems to be no analogous tip for ng2-redux.  I suspect something with zones is needed.  @e-schultz I'd like to get more insight from you next week.

[2016-03-18 05:20] SethDavenport commented on #39
Analogously for ng2?

[code]

[2016-03-18 16:28] #39 closed

[2016-03-18 17:22] nexus-uw opened #61 "update angular 2 dependency to 2.0.0-beta.10"
new version was released earlier today,
https://github.com/angular/angular/commit/3bd87147ab2c9aeb6683e506895fd0c8b931fb9d

[2016-03-18 17:30] SethDavenport commented on #61
@JaKXz any idea why Greenkeeper didn't pick up on this?

[2016-03-18 17:35] JaKXz commented on #61
Probably because it's not a typical versioning scheme - technically, the version number hasn't changed.

Also, I was looking at the [release notes](https://github.com/angular/angular/blob/master/CHANGELOG.md#200-beta10-2016-03-17) last night and it might be time for that zone.js upgrade as well? (e.g. rangle/angular2-redux-starter#74)

[2016-03-18 17:54] SethDavenport commented on #61
Well need to use whatever zonejs angular2 beta10 depends on.

[2016-03-18 18:35] JaKXz commented on #61
Had some fun debugging this with @nexus-uw, looks like angular/angular#7655 and angular/angular#7657 need to be merged since this build is broken.

[2016-03-18 18:41] JaKXz commented on #61
Closing in favour of `beta11`, and the ideal will be when [angular2 has more coverage of basic TS compilation](https://github.com/angular/angular/issues/7656#issuecomment-198413877).

[2016-03-18 18:41] #61 closed

[2016-03-21 15:40] kosz commented on #35
So as this story has turned into something more like :

`As a user I want the ability to use the rangle-starter without any parameters, and have a step by step process asking me questions.`

I now have a question :

[2016-03-21 23:01] SethDavenport commented on #12
@JaKXz : something fishy with the coverage in the angular2 starter:

[code]

First the source map errors, second the fact that coverage should not actually be anywhere near that high yet. Looks like we're only instrumenting the files that have tests.

[2016-03-21 23:05] SethDavenport commented on #52
Alan and Matt have been namespacing ng1 as they proceed with #56.  I have namespaced ng2.

Per internal discussions, we'll leave the react projects un-namespaced, since it's not necessary for react.

[2016-03-21 23:09] #52 closed

[2016-03-21 23:27] #58 closed

[2016-03-21 23:30] #56 closed

[2016-03-21 23:32] JaKXz commented on #12
@SethDavenport the error about the sourcemaps is due to `remap-istanbul`, there are open PRs on that project that once merged and released might take care of it [which would help cover the real .ts files].

[2016-03-22 03:10] SethDavenport commented on #49
Now that we have harmonized the apps across to the angular starters, they should get the new styles too.

[2016-03-22 16:03] SethDavenport opened #62 "Angular2 starter won't load on IE11"

[2016-03-22 16:04] SethDavenport commented on #62
Reported by @nexus-uw .  Appears to be a bug in Angular2: https://github.com/angular/angular/issues/6501

[2016-03-23 02:37] SethDavenport opened #64 "CSS Issues on IE9"
CSS is screwy on IE9: the header bar covers the content below it and the nav items all show up on their own lines.

[2016-03-23 03:10] SethDavenport commented on #64
This applies to the sample app in the ng starters, which are still using the old CSS.
The react ones are in better shape but still have the nav items one-per-line.

[2016-03-23 14:03] #38 closed

[2016-03-23 14:04] SethDavenport commented on #49
Both react projects are done.  Angular ones still TODO. I'll tackle them when I have time.

[2016-03-23 15:22] #62 closed

[2016-03-23 16:11] #35 closed

[2016-03-23 16:13] winkerVSbecks commented on #49
This might be a reasonable alternative to Radium for React + TS inline style projects: https://github.com/postcss/autoprefixer#css-in-js

[2016-03-23 16:18] kosz commented on #5
Picking this up, should be easy at this point.
I have some usability concerns first:
- in order to implement this i'll have to increase the number of questions from 4 to 5. is the significant percentage increase worth the feature ? could it be handled differently ?
- if we ask the question what should be the default ? if we make `https` default it may be friendlier to users who are not familiar wi

[2016-03-23 16:32] SethDavenport opened #65 "Investigate postcss-local-scope"
Angular 2 scopes component-level styles by default (using ViewEncapsulation).  This is awesome because

1. our designers can have component-level css files, which is easier on them
2. no-one has to mess around with BEM syntax, which requires a lot of discipline
3. we still get first-class prefixing and browser targetting support via post-css/css-next/autoprefixer.

Most of this applies to React an

[2016-03-23 16:41] kosz commented on #5
@SethDavenport @ericjim would this work ? https://github.com/rangle/rangle-starter/pull/66

[2016-03-23 17:14] JaKXz commented on #5
My vote is that SSH be default because it's (generally) faster and more secure - it's a best practice in and of itself.

[2016-03-23 17:44] #5 closed

[2016-03-23 18:05] ericjim commented on #5
@kosz :tada:

[2016-03-23 19:27] kosz commented on #32
so @SethDavenport should we try to do anything on this ?
- First off I'd like to suggest that we keep official rangle repos for our linting, circle files and other somewhat static assets. These files can then be updated into the project, diffed and merged as needed.
- Secondly, any dynamic/templated code that we may want to generate, could be generated using lodash templates, however once we go do

[2016-03-23 19:36] SethDavenport commented on #32
This is a low priority right now.

[2016-03-24 14:58] SethDavenport commented on #5
This fix has been published to npm in version 1.1.0.

[2016-03-24 17:09] SethDavenport opened #68 "Ensure the ng2 starter conforms to our ng2 guidelines"
Ensure the ng2 starter conforms to our ng2 guidelines:

http://blog.rangle.io/angular-2-style-guide/
https://github.com/rangle/angular2-guidelines

[2016-03-24 17:09] SethDavenport commented on #68
Also worth noting that @bertrandk is working on our own internal style guide.  We should make sure the ng2 starter follows it.

[2016-03-29 02:04] winkerVSbecks opened #72 "Update React component tests to use Enzyme and Mocha"

[2016-03-31 02:49] brgaulin opened #73 "Filesize seems excessive ng2"
When doing a clean build of the ng2 redux repo, the filesize is 1.5MB, was wondering if that was expected? I'm trying to dig down to why webpack has it built so large, it claims angular is 5MB before it gets minified.

I may end up going with a more baremetal angular2 setup since I'm trying for a mobile app, but was wondering what the thoughts were from the rangle team =)

Result from npm run buil

[2016-03-31 03:38] SethDavenport commented on #73
Hi @brgaulin, thanks for your note.

The vendor.js size does seem a little large.  We may be able to tweak webpack to bring it down a bit.  `webpack -p` (which applies default UglifyJS settings) brings vendor.js down to 763 kB but breaks Angular2...

So currently we're using

[code]

[2016-03-31 03:51] SethDavenport commented on #73
See also https://github.com/angular/angular/issues/6380

[2016-03-31 14:54] sumitarora commented on #54
@SethDavenport we have it on Batarangle I can modify it for the starter as well as code of conduct https://github.com/rangle/batarangle/blob/master/CONTRIBUTING.md
https://github.com/rangle/batarangle/blob/master/CODE_OF_CONDUCT.md

[2016-03-31 14:56] sumitarora opened #74 "RioContent and RioContainer not found"
In `angular2-redux-starter` RioContent and RioContainer are imported https://github.com/rangle/angular2-redux-starter/blob/master/src/components/index.ts#L4 but components have not been created yet https://github.com/rangle/angular2-redux-starter/tree/master/src/components

[2016-03-31 16:00] sumitarora opened #75 "Create angular2 starter without redux"

[2016-03-31 18:58] devbdavis commented on #73
@SethDavenport Good catch on that angular issue, I guess it is still beta ;) But I used a few other methods of getting angular down with webpack, and it seems that the lowest I could get it was about 800kb, which is still just huge for vendor files lol, but that seems to be the standard size. I'm just trying to picture a phone execute that much JS without melting lol

[2016-03-31 19:01] SethDavenport commented on #73
@brgaulin I'd be interested in those methods if you're willing to share them :)

[2016-03-31 19:27] #74 closed

[2016-03-31 21:57] devbdavis commented on #73
I think it was

[code]

[2016-04-01 02:20] SethDavenport commented on #73
Thanks @brgaulin - what ended up working the best for me was

[code]

(thanks to @gdi2290 for his comment here: https://github.com/angular/angular/issues/6501#issuecomment-204153859).

This, plus rejigging a couple of things in the `vendor` section gets it down to:

[code]

`Vendor.js` is pretty much just Angular2 stuff at this point and is 679 KB.  Interestingly my `node_modules/angular2/bundles/

[2016-04-01 02:22] devbdavis commented on #73
Ya, My main concern is, even though we can keep minifying, all that JS is still there executing in the browser lol. I think I'll wait for angular2 to hopefully clean this up before release? I know the team has been pushing mobile pretty hard, but when you have unmangled code that is ~1MB, that is just too much lol

Switching to another setup for this project, and crossing my fingers that the next

[2016-04-01 02:27] SethDavenport commented on #73
np - the hazards of Beta I guess.  Might not work for you, but our Angular1 starter is set up with typescript and some sugar to make it use a similar component model to ng2.  Its size is a lot smaller:

[code]

https://github.com/rangle/angular-redux-starter

[2016-04-01 02:29] devbdavis commented on #73
The claims I have been seeing, is that angular2 is focusing on being lighterweight on mobile, which I hope involves filesize being the same or smaller =P

I will probably end up falling back to angular1 for now. But ya, in this case, beta really means beta =P I can't wait for that stuff to launch though. Looks good.

And thanks @SethDavenport and rangle for your awesome youtube tutorials/overviews

[2016-04-01 15:07] sumitarora commented on #75
Created the repo: https://github.com/rangle/angular2-starter

[2016-04-01 15:10] sumitarora opened #76 "Add angular2-starter project to starter script"

[2016-04-03 11:06] jumpinjackie opened #78 "[typescript-react-redux-starter] Only TS sourcemap of last edited file is kept in hot reloading (npm dev)"
When I run "npm dev" on the TS react starter, when I edit any TS or TSX file after running "npm dev" all the current TS sourcemaps are lost and only the sourcemap of the last edited TS/TSX file can be found in the Chrome devtools.

Is this normal behavior?

[2016-04-04 10:22] gadieichhorn opened #79 "replace basscss with bootstrap"
help needed converting the CSS loader to bootstrap (any? css/sass/less) and remove the basscss default.
I am using the angular2-redux-starter. assuming this is the right base project setup for such a request.

[2016-04-04 14:13] #76 closed

[2016-04-04 14:20] #73 closed

[2016-04-04 14:32] SethDavenport opened #80 "Make angular2-starter more minimal"
This starter is for people who just want the toolchain, but aren't interested in our redux+atomic components approach.

We should replace the sample app there with something simpler and easier to maintain.

[2016-04-04 14:48] SethDavenport commented on #79
Hi @gadieichhorn, thanks for your note.

We don't use bootstrap much here because it's not a good fit with our design department's best practices. So I don't really have a mandate to change our master repos to use it.

That said, if you're looking to add it in to a project based on our starter, it should be possible using `bootstrap-loader` from `npm`.

In effect, you'd probably have to do the fol

[2016-04-04 14:52] #79 closed

[2016-04-04 14:53] gadieichhorn commented on #79
tanks @SethDavenport
I will give that a go.

[2016-04-04 14:57] SethDavenport opened #81 "Give `SplitByPathPlugin` a try"
A suggestion from @alexs.

This may be a simpler approach to splitting the vendor and app bundles from webpack:

[code]

[code]

This is certainly a DRYer configuration approach.  I'd like to also see what (if any) effect it has on bundle size.

[2016-04-04 15:16] nexus-uw opened #82 "angular2 starter pack no longer loads on IE11"
I am seeing the following error  in the vendor.xxxxxx.js file when I load up the starter pack on IE11
![screen shot 2016-04-04 at 11 15 00 am](https://cloud.githubusercontent.com/assets/3188890/14252716/8aa9df90-fa56-11e5-966b-81ea841adb41.png)

mostly likely caused by new shims.xxxxxxxx.js build artifact being included after the vendor.xxxxxxxx.js file.

![screen shot 2016-04-04 at 11 13 42 am](h

[2016-04-04 17:20] SethDavenport commented on #82
Blerg.

I'll fix it soon, thanks @nexus-uw

[2016-04-04 17:25] nexus-uw commented on #82
#IEIsTheNewIE

[2016-04-05 14:37] sumitarora commented on #80
Pushed the changes: https://github.com/rangle/angular2-starter

[2016-04-06 18:35] SethDavenport commented on #78
@alexs is this what you were experiencing?

[2016-04-06 18:45] SethDavenport commented on #78
Seems to be related to webpack hot loading.  If I turn it off, the problem goes away.

Since Angular 2 doesn't support hot loading the way react does I might as well just get rid of it from the Angular 2 starter.

[2016-04-06 18:53] SethDavenport opened #83 "ngcomponentrouter typescript warning"
[code]

[2016-04-06 18:53] #78 closed

[2016-04-06 22:25] #83 closed

[2016-04-06 22:25] SethDavenport commented on #83
Fixed by rangle/angular-redux-starter#65

[2016-04-07 15:30] SethDavenport opened #84 "robot tests cause Heroku to infer python buildpack"
The config added for the robot e2e tests appears to confuse Heroku and make it set the python buildpack.  Which of course breaks node.

[2016-04-07 15:32] SethDavenport commented on #26
The code for the Robot tests causes Heroku to use the python buildpack instead of the node one.

We need to update `app.json` for fix this.

[2016-04-07 21:43] SethDavenport commented on #72
Here's an example from Varun: https://github.com/winkerVSbecks/react-native-training/blob/07-ui-testing/test/Button.js

[2016-04-08 18:50] SethDavenport commented on #84
On second thought, we shouldn't need python at all on Heroku because the robot tests run on circle.  Let's see if we can bake the robot stuff into `circle.yml` instead of using `requirements.txt`.

[2016-04-10 02:04] SethDavenport commented on #49
That's cool, certainly an option.  I still think it's worth doing as much of the transforms at build time instead of at run time though.

[2016-04-10 02:42] sumitarora commented on #80
@SethDavenport This is done

[2016-04-10 02:42] sumitarora commented on #75
@SethDavenport This is done

[2016-04-10 03:59] #49 closed

[2016-04-10 04:01] #82 closed

[2016-04-10 04:09] SethDavenport commented on #41
Looks like the typings are in as of redux 3.4.0

[2016-04-10 05:08] SethDavenport commented on #41
@bennett000 @e-schultz this is probably relevant to the work you're doing on ng2-redux?

[2016-04-10 05:10] #75 closed

[2016-04-10 05:13] SethDavenport commented on #80
Looks good @sumitarora, thanks.

[2016-04-10 05:13] #80 closed

[2016-04-13 19:57] SethDavenport commented on #12
Another random idea I had was to try and use ts 1.8's ability to dump the transpilation into a big file and then run that through karma sans webpack.

Might simplify some of the remap issues so it's worth a try.

[2016-04-13 20:30] #84 closed

[2016-04-13 20:31] SethDavenport commented on #26
Robot Heroku issue fixed.  We can proceed with porting these tests to the other starter projects.

@edimistra - interested?

[2016-04-13 20:35] SethDavenport commented on #72
@jeremy8883 is taking a stab at this.

[2016-04-13 21:08] JaKXz commented on #12
That's a great idea. I'm going to unassign myself and move this back to ready since I've done as much digging into this as I can manage right now.

[2016-04-13 23:25] SethDavenport opened #86 "Angular2 starter is really slow on IE11"
@tsungting and @concertcoder traced this down to the Map polyfill in es6-shim.

Basically in that polyfill, map keys that are primitives retain O(1) lookup, but map keys that are objects have O(n) lookup.

Apparently Angular2 makes extensive use of Maps during its DOM manipulation; this is a huge drag on browsers (IE) that don't support a native map type (IE).

[2016-04-13 23:30] SethDavenport commented on #86
They had some success improving this using [core-js](https://www.npmjs.com/package/core-js) instead of es6-shim.

We should try replacing our existing shims (es5-shim, es6-shim, es6-promise) with core-js; I'd be interested to see:
1. does it work
2. is it faster on IE
3. how it affects webpack bundle size

If it works, I'd like it to be harmonized across all the starters (react too) for the sake o

[2016-04-13 23:31] SethDavenport commented on #86
@bertrandk @tsungting @concertcoder thoughts, particularly on the peer-dep issue?

[2016-04-13 23:42] SethDavenport commented on #26
The typescript-react-starter has been tested.

[2016-04-14 15:06] SethDavenport commented on #51
@BrendanFDMoore is working on this.

[2016-04-14 17:10] SethDavenport commented on #86
For context on the shims we are currently using and why, see https://github.com/rangle/rangle-starter/issues/62 and https://github.com/angular/angular/issues/6501

[2016-04-14 17:19] JaKXz opened #87 "Enforce npm v3+ on starters"
Because of npm v2's weird `peerDependency` handling and the performance gains w/ npm 3.5+, I think it would be best to have the starters ship with support for npm 3 -

Until such a time when Node 6 is LTS, and we don't have to worry about it, probably:

![node lts schedule](https://raw.githubusercontent.com/nodejs/LTS/master/schedule.png)

[2016-04-14 18:03] SethDavenport commented on #87
I disagree. LTS is what people should be using in prod.  Npm2 is what they get with it by default.  We need to make sure it works on vanilla LTS setups.

[2016-04-14 18:03] #87 closed

[2016-04-15 14:06] jeremy8883 commented on #55
Looking at the cssnano website, it looks like it will need to be:

[code]

otherwise, the optimizations might be too aggressive.

[2016-04-15 14:23] SethDavenport commented on #55
Sure, makes sense.

[2016-04-16 22:12] BrendanFDMoore commented on #51
PR initiated for `angular2-redux-starter`: https://github.com/rangle/angular2-redux-starter/pull/108

Pending feedback, this will be applied to all other starters.

[2016-04-17 11:05] aralroca opened #88 "angular2-redux-starter devDependences"
Well, is not an issue, is a question about **angular2-redux-starter** `devDependences`.

Why dependences like **ramda**, **immutable**, **ng2-redux**, **redux**, **redux-thunk**, **redux-localstorage**, etc are `devDependences` in `package.json`? Aren't used in production?

[2016-04-17 19:51] SethDavenport commented on #88
Hi @araloca - thanks for your question.

This is an ongoing dicussion right now - see rangle/rangle-starter#44.

The high-level summary is that `dependencies` are used for things which are needed to actually run the starter; so for example anything actively used by the express server.

The client side libraries you mention are only used explicitly when we build the client - relevant parts of them

[2016-04-17 19:52] SethDavenport commented on #88
If you disagree, feel free to contribute to the discussion on issue rangle/rangle-starter#44.

[2016-04-17 19:52] #88 closed

[2016-04-18 03:11] SethDavenport commented on #26
The angular2-redux-starter has been updated.  Only angular-redux-starter to go.

[2016-04-18 15:00] BrendanFDMoore commented on #51
PR initiated for `react-redux-starter`: https://github.com/rangle/react-redux-starter/pull/139

[2016-04-18 15:52] SethDavenport opened #89 "Evaluate ngrx vs. ng2-redux"
Can we make ng2-redux better? How do ngrx's devtools compare?

[2016-04-18 15:56] BrendanFDMoore commented on #51
PR initiated for `angular2-starter`: https://github.com/rangle/angular2-starter/pull/7

[2016-04-19 00:36] yleichanok opened #90 "[angular2-starter] Counter doesn't get initialized after navigating back"
And buttons loose their styles after navigating to another page and back. To reproduce:
1. Load the app
2. Click on 'About us'
3. Click on 'Counter' (or use browser's back button).
Though it starts working if you click once on any button. Tried it on latest Chrome and Firefox.

[2016-04-19 01:04] SethDavenport commented on #90
@sumitarora can you take a look at this when you have a minute?

[2016-04-19 12:47] sumitarora commented on #68
@SethDavenport I can check both angular2-starter and angular2-redux-starter

[2016-04-19 13:17] bertrandk commented on #68
@sumitarora Let me know if I can help.

[2016-04-19 13:49] BrendanFDMoore commented on #51
PR initiated for `angular-redux-starter`: https://github.com/rangle/angular-redux-starter/pull/73

[2016-04-19 14:34] BrendanFDMoore commented on #51
PR initiated for `typescript-react-redux-starter`: https://github.com/rangle/typescript-react-redux-starter/pull/95

[2016-04-19 14:35] BrendanFDMoore commented on #51
I believe this is now applied to all starters (pending PR accept).

[2016-04-19 15:16] Alber70g opened #91 "[angular-redux-starter] Add sample unit test for a service"
Is it possible to get an example for testing of a service with a $httpBackend? Or should I think about it in another way when using Redux?

[2016-04-19 16:36] SethDavenport commented on #51
Awesome, thanks @BrendanFDMoore.

Feel like taking a stab at #55?

[2016-04-19 16:37] #51 closed

[2016-04-19 16:43] SethDavenport commented on #91
Hi @Alber70g

More comprehensive unit testing is on the roadmap for these starters.  In the meantime, you can get more information on testing services that make HTTP calls from our [blog post](http://blog.rangle.io/testing-your-angular-2-application-part2/) or from our [gitbook](http://ngcourse.rangle.io/handout/testing/services/http.html)

[2016-04-19 16:47] BrendanFDMoore commented on #55
Jeremy, how far did you get in trying this out? Don't want to repeat work if it can be avoided.

[2016-04-19 16:49] SethDavenport commented on #91
Apologies - those are Angular 2 resources and I just noticed you're talking about the Angular 1 starter. Let me see if I can find some other resources for you.

[2016-04-19 16:53] jeremy8883 commented on #55
I had only run the line on my local instance of the react starter, just to test that the 'safe':true line works (it does). So feel free to take this task if you want.

[2016-04-19 22:23] SethDavenport commented on #91
When testing angular1 services that use `$http` I have usually avoided the httpBackend stuff from angular-mocks in favour my own stubs with `sinon.spy` or `Jasmine.spyObject`.   I find it leads to cleaner, more decoupled unit tests.

With that in mind, testing a service that uses `$http` becomes the same as testing any other service.  For example, with `mocha` and `sinon`:

[code]

The end result

[2016-04-19 22:32] SethDavenport commented on #91
As for redux,  you may still have `$http` logic in services that needs to be tested.  The only change is that this code will be invoked from your action creators.

This in turn means that you may need to put your action creators in their own service so you can inject stuff into them using Angular's dependency injection.  So, something like:

[code]

In this case, tests for `getStuffAction` would c

[2016-04-20 04:36] SethDavenport opened #92 "Babel coverage numbers not correct"
The only include files that are tested!

[2016-04-20 07:18] alber70g commented on #91
Thanks a lot. But if I'm right, this is all javascript, and the angular-redux-starter is build with typescript. Is it possible that you add an example inside that project with the test.

[2016-04-20 14:28] SethDavenport commented on #92
Note this likely a config issue, not related to the coverage plugin.  The typescript repos have the same problem.

[2016-04-20 19:06] SethDavenport opened #93 "Angular2 starter should use Jasmine, not mocha"
Since that's what the Angular2 team have settled on.

[2016-04-20 20:56] winkerVSbecks commented on #65
@SethDavenport does ng1 need an update too?

[2016-04-20 23:15] SethDavenport commented on #65
Oh yeah I guess it does.

[2016-04-21 03:21] #26 closed

[2016-04-21 03:52] SethDavenport commented on #65
Udpated the ng1 starter as well.

[2016-04-21 03:52] #65 closed

[2016-04-21 03:52] SethDavenport commented on #72
React starter done.  Typescript react starter pending.

[2016-04-21 13:25] BrendanFDMoore commented on #55
Yea, I'm looking at this. @SethDavenport can you move to In Progress? (I don't have permission to change labels/status)

[2016-04-21 14:04] SethDavenport commented on #55
@BrendanFDMoore : done. I also added you as a collaborator

[2016-04-21 19:22] BrendanFDMoore commented on #55
PR created for `typescript-react-redux-starter`: https://github.com/rangle/typescript-react-redux-starter/pull/103

[2016-04-21 19:48] BrendanFDMoore commented on #55
PR created for `react-redux-starter`: https://github.com/rangle/react-redux-starter/pull/148

[2016-04-21 20:32] BrendanFDMoore commented on #55
PR created for `angular-redux-starter`: https://github.com/rangle/angular-redux-starter/pull/82

[2016-04-22 02:39] sumitarora commented on #93
@SethDavenport done this for angular2-starter if all good I will do for redux one too. https://github.com/rangle/angular2-starter/pull/17

[2016-04-22 02:40] sumitarora commented on #89
how are we making the comparison between the two?

[2016-04-22 03:29] SethDavenport commented on #89
Mostly based on comparing the api and the dev tools.

Since we switched to the chrome extension dev tools I think redux has the edge because we no longer need to depend on react for them. Redux has a more mature middleware ecosystem as well.

As for API that's something we control now; looking forward to @e-schultz, @kosz and @bennett000's latest work in that area.

As long as there's a good ng2-r

[2016-04-22 11:14] alber70g commented on #91
Hi @SethDavenport , I've tried to implement the unit test as described above, but I keep getting errors. It seems that webpack cannot resolve the module/service, even when included in the test.

It would be really nice to add a working unit test to the starter project (e.g. for filter or service). Would this be possible?

[2016-04-22 19:05] BrendanFDMoore commented on #55
Oops, didn't post updates re waiting PRs.
`angular2-starter`: https://github.com/rangle/angular2-starter/pull/18
`angular2-redux-starter`: https://github.com/rangle/angular2-redux-starter/pull/117

[2016-04-22 19:29] BrendanFDMoore commented on #65
@winkerVSbecks Recently added `postcss-modules-local-by-default` to `angular-redux-starter`, `typescript-react-redux-starter` and `react-redux-starter`. It looks to me that this module does the same thing, and that we can close this card.

https://github.com/css-modules/postcss-modules-local-by-default/blob/master/README.md

[2016-04-22 19:35] BrendanFDMoore opened #94 "Add linting to unit tests"
Currently, only `ts-react` has the linting rules applied to the test files. We should probably add this for all starters.

[2016-04-22 19:37] BrendanFDMoore opened #95 "Add linting to config file(s)"
Linting is not currently enforce against `webpack.config.js` and any related files for loaders/plugings etc. We should probably add this.

[2016-04-22 20:02] BrendanFDMoore opened #96 "Normalize webpack configurations"
There are at least two distinct structures/styles of webpack configuration. The more similar these are, the easier cross-starter maintenance becomes. It also feeds into our goal of code-sharing (connected to https://github.com/rangle/rangle-starter/issues/32 )

[2016-04-23 17:43] BrendanFDMoore commented on #55
This has been applied to all starters.

[2016-04-23 17:43] #55 closed

[2016-04-23 17:43] #72 closed

[2016-04-23 18:46] vespertilian opened #97 "angular2-redux-starter - newbie suggestion & question"
Hi,

I attended you online Angular 2 course this week and was just testing out some of the things I learnt. Via your angular 2 redux starter repo.

One of the first things I was interested in understanding was how a user input value, not just a click event, would flow through an Angular 2 Redux app. So I figured I would extend the counter so you could click a button and have the count increase by

[2016-04-25 15:03] kosz commented on #93
But why specifically is Jasmine the better option ?
I doubt Jasmine has anything extra to offer to Redux. I'm sure there are some Angular 2 specific features, but with Redux a lot of those may not be needed ?

[2016-04-25 15:04] SethDavenport commented on #93
We still want to test our Angular 2 components - that means using Angular2's modified version of Jasmine.

I'd rather not depend on two different testing frameworks if possible.

[2016-04-25 16:54] kosz commented on #97
@ vespertilian payload is indeed a convention. I'm not sure if it's official in Redux, but it's a pretty good convention and the fireAction is coded using it.

It can be indeed confusing when writing your action/reducer without using payload, because many Redux docs/examples don't use it, and then fireAction expecting it when you write your test.

You can either change the way fireAction works in

[2016-04-25 19:22] BrendanFDMoore commented on #97
Hi @vespertilian - what @kosz  said is correct. While the use of `payload` is not strict (see some example not using it in the [Redux documentation](http://redux.js.org/docs/basics/Actions.html)), it has become something of a community convention. You can certainly modify `fireAction` to handle whatever structure you like, but we prefer to keep a common structure to avoid writing customized functi

[2016-04-25 19:28] SethDavenport commented on #91
@BrendanFDMoore has agreed to take a look at this.  We'll refactor our login action to use $http, hook it up to Redux, and then add a sample unit test.

[2016-04-25 19:45] SethDavenport opened #98 "auto deploy starters"

[2016-04-25 19:47] SethDavenport commented on #98
Heroku is fine for now.

I don't want to do clusternator until we've removed the need for all the stuff it puts in `.clusternator`

Let's use the pattern [starter-name].herokuapp.com.

These deployments should be automated off master.  We can also set up PR apps to aid testing and demonstrate Rangle-Flow.

[2016-04-25 20:13] vespertilian commented on #97
@kosz @BrendanFDMoore.

Yep, that's crystal clear. I'm very keen to use convention where possible.

Thanks!

[2016-04-25 20:17] BrendanFDMoore commented on #97
No problem @vespertilian - glad it was helpful.

If you're interested, I've pushed my complete worked example here: https://github.com/BrendanFDMoore/angular2-redux-starter/tree/increment-by

Cheers,
-Brendan

[2016-04-25 20:17] #97 closed

[2016-04-25 22:31] SethDavenport commented on #98
http://react-redux-starter.herokuapp.com/ is done.

[2016-04-26 01:31] SethDavenport commented on #98
They are now all hooked up:

https://angular2-starter-rangle.herokuapp.com
https://angular2-redux-starter.herokuapp.com
https://angular-redux-starter.herokuapp.com
https://react-redux-starter.herokuapp.com
https://typescript-react-redux-starter.herokuapp.com

[2016-04-26 01:31] #98 closed

[2016-04-26 20:25] #81 closed

[2016-04-27 03:50] barretodavid opened #100 "[angular2-redux-starter] ApplicationRef.tick is called recursively"
Right after installing the `angular2-redux-starter` using the npm package `rangle-starter` and trying to login to the app using the credentials "user" and "pass", I see an error in the browser console (Chrome - OSX):

[code]

[2016-04-27 14:42] codebyuma commented on #94
We dug into this a bit - the ts-react project's front-end tests are actually being linted simply because they are in the src folder and not because they are explicitly called out in the package.json.

Original assumption was that the tests were only being linted because of the inclusion of the `test/` folder in this line:

`"lint-ts": "tslint 'src/**/*.tsx' 'src/**/*.ts' 'test/**/*.tsx' 'test/**/*

[2016-04-27 15:05] SethDavenport commented on #100
Rolling back heroku to the previous deployment fixes the issue.  That suggests this was introduced by the recent 'split-path-by-plugin' change.

I think what's happening is that the shims and polyfills are now loaded after vendor.js, whereas they used to be included in it.

The shims and polyfills need to be loaded _before_ angular for it to work correctly.

One approach might be to put this in in

[2016-04-27 15:25] SethDavenport commented on #100
Worst case senario we can roll back the splitbypath plugin work; however I'd like us to try and get it working first.

[2016-04-27 15:52] codebyuma commented on #100
I'm investigating now.

[2016-04-27 18:57] codebyuma commented on #100
Importing the shims and polyfills in index.ts before angular seems to resolve the issue. PR is open.

The other starters seem to be fine right now but I can update them as well to be consistent. Thoughts? @SethDavenport

[2016-04-27 19:19] SethDavenport commented on #100
It affects http://angular2-starter-rangle.herokuapp.com too - navigate to the about page and back.

[2016-04-27 19:20] SethDavenport commented on #100
But yeah consistency is good so let's make all the starters follow the pattern.

[2016-04-27 19:41] codebyuma commented on #100
Good catch! Ok, PR is open for angular2-starter: https://github.com/rangle/angular2-starter/pull/22

I'll update the others now, just to be consistent.

[2016-04-27 21:26] #100 closed

[2016-04-28 12:09] alber70g commented on #91
Thanks a lot! I'll be really helped with this addition

[2016-04-28 14:43] codebyuma commented on #94
@BrendanFDMoore  @SethDavenport Just to confirm: so far, of the starters I've checked, the tests are linted before they are run ( `npm run test`) and when we explicitly run linting (`npm run lint`). Do we also want them to be linted before we build ( ie `npm run build`)? I'm not sure what the benefit is of linting the test files at that point but thought I'd confirm.

[2016-04-28 14:58] SethDavenport commented on #94
@codebyuma the tests should live with the code that they test in all the starters - this is Rangle.io practice. It makes it easier to grok if you keep all the parts of a thing together.

So there shouldn't really be a need to have separate src and test linting rules - src/*_/_.ts should do the trick.

This should definitely happen for `npm test` because we want any lint error anywhere to fail CI.

[2016-04-28 15:58] codebyuma commented on #94
Ok, all the starters do lint the tests when running `npm run lint` and `npm run test`. They all also seem to exclude the tests when linting during `npm run build`.

[2016-04-28 18:16] codebyuma commented on #94
Just an update:
- All of the starters lint both test and src code when you  `npm run lint` and `npm run test`
- All of the starters lint everything except the tests when you `npm run build`
- But only React Redux Starter stops the build if linting fails. The other ones just show warnings if there are linting errors.

@SethDavenport should they all stop the build if linting fails?

[2016-04-28 19:01] SethDavenport commented on #94
The requirement here is that `npm test` should fail CI if there are lint errors.

So introduce a lint error and run

`npm run lint` or `npm test`

Then see what it returned using `echo $?`: it should be non zero if there are linter errors, 0 otherwise.

[2016-04-28 19:12] codebyuma commented on #94
Ok in that case, there isn't anything to be done here. All five starters produce linter errors for both test and non-test code.

[2016-04-28 20:26] codebyuma commented on #95
Just wanted to confirm approach and requirements here.

Four of the five starters use typescript but the config files and loaders are all javascript files. It doesn't look like ts-lint supports .js files yet (https://github.com/palantir/tslint/issues/515), so it looks like I'll have to add es-lint to cover these config files. @SethDavenport Does that sound reasonable?

In terms of coverage, what s

[2016-04-28 20:53] SethDavenport commented on #95
Hi Uma,

Yes we'll need eslint and the standard .eslintrc for those: https://github.com/rangle/dev/tree/master/dotfiles

Basically everything except build output.

So:

`**/*.js`, but exclude `dist`

[2016-04-28 21:54] BrendanFDMoore commented on #95
I would think it should be sufficient to include this in the `npm test`
sequence via the `npm run lint` chain (adding a third `lint-js` trigger)
and not worry about adding `eslint-loader` to the web pack sequence.

These are not build files themselves, so I'm not convinced it needs to run
on build. The CI failing via `npm test` should be enough, no?
On Apr 28, 2016 4:56 PM, "Seth Davenport" notifi

[2016-04-29 04:03] SethDavenport commented on #90
Updating to Angular2 beta 17 appears to have fixed this.

[2016-04-29 04:03] #90 closed

[2016-04-29 04:04] SethDavenport commented on #89
With the release of n2-redux version 2.2.3 it's now a decent alternative again since it's brought observables to the table.  Sticking with it for now due to its better devtools support.

[2016-04-29 04:04] #89 closed

[2016-04-29 13:16] codebyuma commented on #95
@BrendanFDMoore the issue here is that the typescript linter won't run against javascript files, and since the build files are all javascript files we need to add eslint to handle that linting.

[2016-04-29 14:59] codebyuma commented on #95
Just clarifying as we talked in person. No eslint-loader required, just es-lint :)

[2016-04-29 20:55] #41 closed

[2016-05-02 13:25] #94 closed

[2016-05-02 13:36] codebyuma commented on #95
@SethDavenport quick question - the .eslintrc file in https://github.com/rangle/dev/tree/master/dotfiles doesn't include ES6-related rules. Should I use some of the ones in the react-redux-starter to keep them consistent? https://github.com/rangle/react-redux-starter/blob/master/.eslintrc

[2016-05-02 13:39] SethDavenport commented on #95
Sure - that makes sense.

You can update the one in /dev too then :)

[2016-05-02 14:21] BrendanFDMoore commented on #91
Hi @Alber70g - I've been working on this example and have a working build going in my `httptest` [branch](https://github.com/BrendanFDMoore/angular-redux-starter/tree/httptest). This will likely get merged into upstream master soon, but I wanted to give you a chance to take a look if you've been waiting.

Note that while an earlier commit was authenticating against `http://ngcourse.herokuapp.com/a

[2016-05-02 19:33] alber70g commented on #91
Thanks a lot. I've been looking at your branch before :smile:. I see that you don't use the angular-service model? Is this intentionally because you're using Redux? I can see that I possibly want to create interceptors for certain things. I believe that would not be possible this way. Overall it looks nice. I'll try in the near future to implement it the same way in my own project. Thanks a lot!

[2016-05-02 20:24] codebyuma commented on #95
PRs are open for all the starters. I also added one for the /dev too - https://github.com/rangle/dev/pull/150

[2016-05-02 20:45] BrendanFDMoore commented on #91
If you're talking about using services for state management purposes, that's exactly right. We've found that `Redux` provides a better model for this that is less prone to problems.

I've certainly used services for state in the past, and its probably fine for small/simple use cases, but it has a way of becoming less manageable with growth over time.

Certainly `ServerService` here (where the `$ht

[2016-05-02 21:15] #95 closed

[2016-05-03 19:10] BrendanFDMoore opened #101 "Starter script ignores protocol preference"
Also when user is not using a remote repo, protocol is not asked.

Add user choice even without using repo. Then obey the user selection.

[2016-05-03 19:14] codebyuma opened #103 "Starter script throws TypeError on node v6.0.0"
If you select the option to use a Github repo, this error is thrown when cloning into your new repo directory (on Node v6.0.0 - it's fine on v5.10.1):

`git init
TypeError: Assignment to constant variable.
    at initRepo (/Users/umachandran/course-material/starters/rangle-starter/src/execute.js:44:13)
    at git.then.then.then (/Users/umachandran/course-material/starters/rangle-starter/src/execut

[2016-05-04 13:03] #103 closed

[2016-05-04 13:03] BrendanFDMoore commented on #91
Auth has been updated to use [Passport](http://passportjs.org/docs) and tidied up. Now merged into `master` for `angular-redux-starter`.

[2016-05-04 13:03] #91 closed

[2016-05-04 13:04] BrendanFDMoore commented on #59
`angular-redux-starter` now has real tests.

[2016-05-04 13:04] #59 closed

[2016-05-04 13:05] #101 closed

[2016-05-04 14:27] SethDavenport opened #105 "Update to Angular2 RC 1"

[2016-05-04 14:56] riavalon opened #106 "Webpack not transipiling .js files correctly."
Webpack is not handling transpilation of .js configuration files, for example the shims/shims_for_IE.js .

This is causing the starter apps to break in IE9 when they encounter the `const` keyword.

[2016-05-04 15:00] codebyuma commented on #106
@riavalon and I just discussed this bug. It was introduced when I added linting of config files and updated the shims file to abide by the new eslintrc rules (https://github.com/rangle/rangle-starter/issues/95). The starters work in IE11 but not IE9.

There are a few options (my pick is excluding this specific file from linting and reverting it to ES5-friendly code) and @riavalon is going to inves

[2016-05-04 15:13] SethDavenport commented on #106
Cool thanks for the update

[2016-05-04 15:18] codebyuma opened #107 "Add http-based authentication to remaining starters"
Similar to https://github.com/rangle/rangle-starter/issues/91

[2016-05-04 17:11] SethDavenport commented on #86
Angular 2 release candidate 1 has switched to core-js, which should address this issue.

[2016-05-04 17:11] #86 closed

[2016-05-04 17:59] codebyuma commented on #107
I'm starting with the angular2-redux-starter

[2016-05-05 18:51] riavalon commented on #64
It's looking like the CSS issues are due to ie9 not supporting Flexbox at all. I looked around for a polyfill that could bring support for it in but unfortunately it doesn't seem there are any effective polyfills that are compliant with the current flexbox spec.

See [this article for more details about flexbox support in old IE](https://www.bhalash.com/archives/13544804709)

Will probably have to

[2016-05-05 20:17] SethDavenport opened #108 "Investigate Codelyzer"
https://www.npmjs.com/package/codelyzer

Codelyzer provides extra lint rules from the Angular2 community.  We should take if for a spin, and if it's good, hook it up to our angular 2 starters.

[2016-05-05 20:24] SethDavenport opened #109 "Investigate Angular 2 Offline Compiler"
Provides optimizations for Angular 2, not just for bundle size but also for app load time.

Not ready for consumption yet but we should think about what it means for webpack.

There's info about in in the ngconf 2016 Keynote 2 - I'll link the video when it's available.

[2016-05-05 21:13] BrendanFDMoore commented on #64
I used Flexie with lukewarm results on a previous project. Its horribly
inefficient, though, and only mostly works. And yea getting it to look just
right side by side is not turn key.

Fun fact: it makes a redundant call to the current URL in order to gobble
up the CSS that comes with it. Yea.
On May 5, 2016 2:51 PM, "Raven Avalon" notifications@github.com wrote:

[2016-05-06 14:05] SethDavenport opened #110 "Add circle CI status badges"
For all projects to rangle-starter readme

[2016-05-06 17:28] codebyuma commented on #107
I have it working on angular2-redux-starter now. Just want to set up tests for the new auth and server services before making the PR.

[2016-05-06 19:38] codebyuma commented on #107
Update: Going to make a PR for this change in a moment and put the creation of tests for the server service and auth service for angular2-redux-starter into a separate issue/card as it's taking longer than expected.

[2016-05-06 19:55] codebyuma opened #111 "Add unit tests for new AuthService and ServerService to angular2-redux-starter"
Following https://github.com/rangle/angular2-redux-starter/pull/143, add unit tests for AuthService and ServerService in the angular2-redux-starter.

Will use https://github.com/rangle/angular2-redux-starter/pull/141 as a starting point / example.

[2016-05-07 18:06] sumitarora commented on #110
@SethDavenport Can you add me to other project I will add badges for those.

[2016-05-07 19:50] aramin opened #112 "Add 'cover'-script to typescript-react-redux-starter package.json"
Currently the cover-task is missing in the package.json of https://github.com/rangle/typescript-react-redux-starter

[2016-05-08 18:29] sumitarora commented on #108
@SethDavenport Implemented in Angular2 Started apart from prefixing rule rest looks good just need to decide on the rules to be followed by all angular projects. https://github.com/rangle/angular2-starter/pull/36

[2016-05-08 19:33] #110 closed

[2016-05-08 19:45] SethDavenport commented on #112
This is connected to rangle/rangle-starter#12

[2016-05-09 01:35] SethDavenport commented on #109
https://www.youtube.com/watch?v=wHZe6gGI5RY&list=PLOETEcp3DkCq788xapkP_OU-78jhTf68j&index=24

[2016-05-09 13:59] codebyuma opened #113 "Bug - login does not work in dev mode after http change"
Just realized that after https://github.com/rangle/angular-redux-starter/pull/95 and https://github.com/rangle/angular2-redux-starter/pull/143, you can no longer log into the app in dev mode because the node server isn't started. This impacts both angular2-redux-starter and angular-redux-starter.

I'm researching options right now but am open to suggestions. @SethDavenport Does it make sense to st

[2016-05-10 14:39] codebyuma commented on #113
I imagine I should be using a proxy here, just trying to wrap my head around the documentation and how it works

[2016-05-12 18:33] sumitarora commented on #105
@SethDavenport this is done right?

[2016-05-12 18:49] codebyuma commented on #107
@SethDavenport Hey Seth, is there a reason why the angular2-starter doesn't have the login functionality at all?

[2016-05-12 18:51] SethDavenport commented on #107
Yeah it's intended to be a minimal starter without redux or a complex starter app. So we've trimmed the functionality; I wouldn't worry about it.

[2016-05-13 20:23] #111 closed

[2016-05-17 04:13] SethDavenport commented on #106
@codebyuma @riavalon I think you two fixed this up already right?

[2016-05-17 04:14] #93 closed

[2016-05-17 04:14] SethDavenport commented on #105
Yes it is. Closing.

[2016-05-17 04:14] #105 closed

[2016-05-17 04:19] SethDavenport commented on #64
OK my bad for not checking flexbox IE support.  Sigh.

While polyfills for JS can be effective polyfills for CSS tend to be really slow and crappy. So yeah I agree that's probably not the right approach.

I guess we should look to see how hard it would be to do the CSS without flex box.

[2016-05-17 05:14] SethDavenport commented on #107
@codebyuma : I'm seeing some console warnings when I run `npm start`:

[code]

Seems to be related to expressSession not being set up with a production-ready store (a DB, redis, etc).  However since the app doesn't really need sessions I'm wondering if we can just not use them for now?

I'd rather not have the starters contain something that will actually blow up in production: projects needing se

[2016-05-17 13:22] codebyuma commented on #107
@SethDavenport Yes, that makes sense. We added it because the docs for Passport indicated that we needed it but I did a quick check and it seems to work without it. I'll remove from the various starters this morning and make PRs.

[2016-05-17 13:32] codebyuma opened #114 "Bug - angular2-redux-starter: window.devToolsExtension error in dev mode"
When running in dev mode, the app doesn't load and this error appears in the browser console:

In Safari - `TypeError: window.devToolsExtension is not a function. (In 'window.devToolsExtension()', 'window.devToolsExtension' is undefined)`
In Chrome Incognito Mode -` Uncaught TypeError: window.devToolsExtension is not a function`
In IE 11 - `Object doesn't support property or method 'devToolsExtens

[2016-05-17 16:21] codebyuma commented on #107
I also removed Express sessions from https://github.com/rangle/react-redux-starter/issues/172 before merging.

[2016-05-17 16:25] codebyuma opened #115 "Investigate Angular 2 CLI"
https://github.com/angular/angular-cli

[2016-05-17 16:39] codebyuma commented on #106
Looks like it. @riavalon, can you confirm if this can be closed?

[2016-05-18 13:25] codebyuma commented on #115
Just adding this video as a resource too: https://www.youtube.com/watch?v=wHZe6gGI5RY

[2016-05-19 03:35] #107 closed

[2016-05-19 03:35] #106 closed

[2016-05-19 03:35] #114 closed

[2016-05-19 04:22] SethDavenport opened #116 "Move starters to clusternator instead of heroku"
Waiting for rangle/the-clusternator#267 to be completed before we do this.

[2016-05-19 04:26] #113 closed

[2016-05-19 04:32] SethDavenport commented on #115
Thanks for logging this @codebyuma .

The main questions I'd like to answer are:
1. how does the CLI generated toolchain compare to our webpack setup, specifically in terms of:
   a. production bundle size?
   b. dev mode developer experience?
   c. unit test runner?
   d. ability to measure unit test coverage?
2. how does it bundle assets for prod? Do we get a proper minified JS bundle (good) or

[2016-05-20 12:02] dodekx opened #117 "I want to use local png file in my css"
Where I should put it?

[2016-05-20 12:44] BrendanFDMoore commented on #117
Hi @dodekx
All of the starter projects include a `/src/assets/` directory that can be used for resources like images. I'd suggest putting the `png` file there.

[2016-05-20 13:28] dodekx commented on #117
ok thanks.
when i try use:
background-image: url('../../assets/header.jpg'); does not work

ERROR in ./~/css-loader!./~/postcss-loader!./src/styles/main.css
Module not found: Error: Cannot resolve 'file' or 'directory' ../../assets/header.jpg in /home/dodekx/solution4future/secret-project/src/styles
 @ ./~/css-loader!./~/postcss-loader!./src/styles/main.css 6:2937-2971

[2016-05-20 13:52] BrendanFDMoore commented on #117
I think you might just be going up too far by one directory. A single `../` should work, assuming this were added to the existing `/styles/index.css` file.

[2016-05-20 18:02] BrendanFDMoore commented on #117
Did that solve your problem @dodekx ?

[2016-05-21 02:57] rawkamatic opened #118 "ng2 - Super small filename typo"
the test file at: src/components/container is named: 'index.text.ts' it should be named 'index.test.ts'

[2016-05-21 20:34] SethDavenport opened #119 "Re-evaluate IE Shims for Ng2"
Looks like there's been some work to fix Ng2 for IE - in particular the function.name shim has been pulled in.

Not sure what version of Ng2 - we should try removing our function.name shim in the next release candidate and re-test on IE9+.

https://github.com/angular/angular PR 6944

[2016-05-24 13:32] codebyuma commented on #115
Unfortunately, I didn't get to dig into your questions last week. I looked at the basic set-up and commands while helping with the  first pass of the CLI chapter for the ng2course but didn't get to investigate customization options or compare to our current setup.

That said, as you saw, the five step  process to install third party libraries isn't fun: https://github.com/angular/angular-cli/wiki/

[2016-05-25 03:05] mikecann opened #120 "ts-react: Why is server code not Typescript?"
Hi,

I love the look at your typescript-react-redux-starter, it looks like its exactly what I was looking for in that it seems to solve many of the issues I am having with getting started.

What I was wondering tho is why is the server code alll Javascript and not Typescript too?

Cheers,
Mike

P.S. Not sure how to add a label to this so putting in the title instead.

[2016-05-25 03:29] mikecann opened #121 "ts-react: Are String property lookups unavoidable?"
Hi,

I was looking through the code and it all looks great and uses the type safety aspects of Typescript almost perfectly. The only issues I see are with immutable JS.

For example: https://github.com/rangle/typescript-react-redux-starter/blob/master/src/reducers/session.test.ts

[code]

All those string based property lookups give me the heeby jeebies. Is there no way around them?

Cheers,
Mike

[2016-05-25 04:11] SethDavenport commented on #121
Hi @mikecann - actually our reducers in this project could probably stand stronger typing in general.

I started to do it in our angular2+redux starter here: https://github.com/rangle/angular2-redux-starter/blob/master/src/reducers/index.ts and here https://github.com/rangle/angular2-redux-starter/blob/master/src/reducers/session.ts

In that starter the session state slice has type `Immutable.Map<

[2016-05-25 04:28] SethDavenport commented on #120
Heh. Because I'm allergic to transpiling on the backend - there's a small part of me that still doesn't quite trust it in a server environment.

That said I've been messing around with isomorphic stuff more and more so I'm starting to warm up to the idea.  Feel like making a PR? ;)

(for typescript, not for isomorphism)

[2016-05-25 04:35] SethDavenport commented on #115
Thanks for looking into it @codebyuma . The CLI is something to keep an eye on but it looks a little raw yet for our purposes. There are a lot of good discussions happening in the repo though:

How to use PostCSS with it:
https://github.com/angular/angular-cli/issues/634#issuecomment-220831983

Community interest in webpack (something we might be able to help with):
https://github.com/angular/angu

[2016-05-25 05:23] mikecann commented on #121
Hi @SethDavenport,

I totally agree with you, I think that may be the core reason I am having troubles with my current workflow.

I understand the need to immutability and sadly it breaks my strongly-typed urges :smile:

Cheers,
Mike

[2016-05-25 05:23] #121 closed

[2016-05-25 05:24] mikecann commented on #120
lol okay no worries, if I do some work in this area ill definitely do a PR!

[2016-05-25 05:24] #120 closed

[2016-05-26 13:37] mdegani opened #122 "`npm run dev` doesn't watch for changes, or refresh browser"
In order to see changes after saving a file, you have to build and start it again.

[2016-05-29 19:48] SethDavenport commented on #116
Actually let's not do this. Don't want public PRs using up our paid resources!

[2016-05-29 19:48] #116 closed

[2016-05-29 19:48] SethDavenport commented on #117
Since there's no activity on this, closing. Feel free to re-open it if it's not actually resolved.

[2016-05-29 19:49] #117 closed

[2016-06-02 18:38] ssayan opened #123 "Angular2: 'Npm run dev' refreshing from dist instead of memory?"
When making an edit on a project based on the Angular2-Redux starter, running an `npm run dev` server and then editing a file seems to result in inconsistent/broken refreshes — it appears that we're trying to refresh from dist instead of memory.

Steps to reproduce:
1. Clone the `angular2-redux` starter.
2. `npm run dev`
3. Make an edit, template or otherwise.
4. Watch as your edit doesn't appear

[2016-06-02 21:10] SethDavenport commented on #123
@ssayan what port do you have in your browser location bar?

[2016-06-02 21:10] SethDavenport commented on #123
Should be 8080

[2016-06-02 21:17] BrendanFDMoore commented on #123
In order to simulate real http auth requests, `npm run dev` actually
results in two servers running. The front end client should be accessed
from port 8080 as @sethdavenport suggests. On port 3000 is another server
supplying the api for authenticating credentials. This has a byproduct effect
of offering the client up a second time.

We could probably stand to clear this up some.

[2016-06-03 14:25] codebyuma commented on #123
May need to add webpack hot reload? I think Mark was looking at that.

[2016-06-03 18:47] sachasayan commented on #123
@SethDavenport @BrendanFDMoore To be clear, this _was_ encountered accessing the front-end client via 8080.

[2016-06-03 23:58] stevenkampen commented on #123
@SethDavenport @BrendanFDMoore @ssayan I ran into this also, but I worked around it by hijacking `node-proxy.js` to redirect all requests back to the root of `localhost:8080`. This breaks the fallback `/dist` serving, so I was thinking maybe it should be applied separate to the proxy config logic, and only if it's not in production mode (i.e. `npm run dev` was run)?

In `proxy-config.js`...

[code

[2016-06-06 01:23] eddiewang opened #124 "TypeError after git init"
[code]

Does anyone know what's causing this issue?

[2016-06-06 02:24] SethDavenport commented on #123
This was introduced when we added an API call to the node server to demonstrate HTTP requests.

Making webpack proxy \* screws up app reloading dev server. However we only need to proxy api/\* (plus whatever manual configs are in the proxy settings for remote APIs).

@mdegani already submitted a fix for this; I finally had time to review and merge it.

[2016-06-06 02:24] SethDavenport commented on #123
I'll port it over to the other starters.

[2016-06-06 02:25] #123 closed

[2016-06-06 02:53] #122 closed

[2016-06-06 12:19] mhazy commented on #124
Which version of node were you using?

[2016-06-06 12:20] eddiewang commented on #124
6.0.0 - FYI switching to 5.6.0 using n worked for me.

[2016-06-06 12:27] mhazy commented on #124
It looks like this should be resolved once we release an updated package. Thanks for logging the issue, we'll get a release ready.

(Fixed in #104)

[2016-06-08 04:11] JaKXz commented on #118
~~Looks like this has been taken care of,~~ but thanks for pointing it out @rawkamatic! Feel free to make PRs in future 😺

[2016-06-08 04:16] JaKXz commented on #118
Sorry! I checked the [wrong repo](http://github.com/rangle/angular2-redux-starter/). PR made now though :)

[2016-06-08 04:23] JaKXz commented on #8
Related to rangle/react-redux-starter#184, and to a lesser extent rangle/angular2-redux-starter#162.

[2016-06-08 14:48] SethDavenport opened #125 "Login fails on Heroku"
The login API request is hard-coded to go to localhost:8080/api/login

Understandably, this blows up on most deployments (e.g. Heroku).

It needs to be a relative URL.

[2016-06-08 15:20] #125 closed

[2016-06-08 15:48] #118 closed

[2016-06-08 22:13] JaKXz commented on #32
I just came across: https://github.com/kentcdodds/kcd-common-tools, which I think is a great idea - just have _this_ npm package (or some `rangle-starter-shared` package) have all the files we want shared, and then add it as a dependency and symlink to the given files.

Thoughts @SethDavenport @kosz? I would make a PR instead of a comment but I really should get back to studying for midterms 😆

[2016-06-08 22:13] SethDavenport opened #126 "Improve typescript source map support"
It should be possible to debug in the browser from the TypeScript source using source maps.

However our config isn't quite right.

[2016-06-08 22:15] SethDavenport commented on #126
@clbond has figured it out for the ng2-minimal starter.

[2016-06-08 22:16] SethDavenport commented on #126
@alexs you might be interested in this.

[2016-06-08 22:19] SethDavenport commented on #32
yeah it's a decent idea, just haven't had time to think through all the permutations.

[2016-06-08 22:21] SethDavenport opened #127 "Unit tests break when you `@import` a local CSS file."
We need to include the postcss plugins in the karma conf as well.

[2016-06-08 22:43] SethDavenport commented on #127
Turns out the react projects are fine because they don't use Karma.

[2016-06-09 00:39] bennett000 opened #128 "Webpack Broken on Windows Due To `SplitByPath`"
Unfortunately SplitByPath has an issue with regex and Windows paths: https://github.com/BohdanTkachenko/webpack-split-by-path/issues/12

The good news is there's a PR that might fix this: https://github.com/BohdanTkachenko/webpack-split-by-path/pull/14

The bad news is the PR has been up since April.  I pinged the maintainer, hopefully it can get merged or fixed some other way.

[2016-06-09 01:31] SethDavenport commented on #128
Blerg.  Thanks for filing the issue.

I guess we can go back to CommonsChunkPlugin, but it's more config to maintain.

[2016-06-09 01:52] bennett000 commented on #128
It's pretty painful having to switch to more config because of a regex error.

[2016-06-09 03:08] #127 closed

[2016-06-09 19:32] bennett000 commented on #128
Great news, the PR got merged, things should work again: https://github.com/BohdanTkachenko/webpack-split-by-path/pull/14#issuecomment-225001163

I'm assuming Green Keeper will take care of this.  I will close the issue.

[2016-06-09 19:33] #128 closed

[2016-06-10 13:45] clbond commented on #126
OK, this has been done in all of the TypeScript-based starters. The last PR remaining to be merged is at https://github.com/rangle/typescript-react-redux-starter/pull/146 - I am waiting for someone to review it before I merge since it's a more complicated change than the ones I did in the angular2 repos. Once that last PR is merged I think we can close this ticket.

[2016-06-13 18:01] SethDavenport commented on #126
@clbond - thanks!

Did you do the angular 1 + typscript starter as well? https://github.com/rangle/angular-redux-starter

[2016-06-14 01:08] clbond commented on #126
Ah, no, I'm sorry - I missed that one. Didn't realize there was another TS
starter. Will do first thing in the morning.
On Jun 13, 2016 2:01 PM, "Seth Davenport" notifications@github.com wrote:

[2016-06-15 21:57] clbond commented on #126
OK, angular-redux-starter is done now too. Implemented in https://github.com/rangle/angular-redux-starter/pull/135

[2016-06-15 21:57] #126 closed

[2016-06-15 21:58] clbond commented on #92
This has been fixed now in these PRs: https://github.com/rangle/angular-redux-starter/pull/135, https://github.com/rangle/angular2-redux-starter/pull/180, https://github.com/rangle/angular2-starter/pull/54

[2016-06-15 22:00] clbond commented on #12
This is implemented/fixed in these PRs: https://github.com/rangle/angular-redux-starter/pull/135, https://github.com/rangle/angular2-redux-starter/pull/180, https://github.com/rangle/angular2-starter/pull/54. Moving to done

[2016-06-15 22:00] #12 closed

[2016-06-16 14:17] SethDavenport commented on #92
Cool - so what remains is the two react starters with their non-karma toolchains, right?

[2016-06-16 15:06] clbond commented on #92
Yes, that's correct. typescript-react-redux-starter has no code coverage report at all. react-redux-starter does have a code coverage report but it is incorrect because it omits files that are not part of the test dependency tree. But at this point all of the TypeScript-based starters have correct code coverage reports.

[2016-06-16 16:19] clbond commented on #8
This has become possible on the karma-based starters now that the code coverage numbers are correct. The mocha-based starters still have incorrect configurations though. I think someone with more mocha experience might have better luck bringing those starters into line with the karma ones.

[2016-06-19 01:49] sumitarora opened #130 "Add webpack copy plugin to copy assets"

[2016-06-20 12:30] SethDavenport commented on #130
awesome - thanks Sumit

[2016-06-20 20:22] timestep opened #131 "Vendor JS Does Not Compile"
Vendor.js does not compile for angular-redux-typescript starter.

[2016-06-20 20:53] #130 closed

[2016-06-22 12:27] SethDavenport opened #132 "Update to Angular 2 RC3"

[2016-06-23 17:43] #92 closed

[2016-06-24 12:44] nasreddineskandrani opened #133 "angular2-rc3 is out last week - no support"
when you will upgrade to rc3 support please?

[2016-06-24 17:44] SethDavenport commented on #133
Duplicate of #132

[2016-06-24 17:47] #133 closed

[2016-06-24 18:01] SethDavenport commented on #133
We're still evaluating the router situation - there's no router-deprecated in RC3, but the v2 and v3 routers are still experimental.

[2016-06-24 18:07] ttmarek opened #134 "Permissions error when using https to access github"
I got the error below when trying to set up a react+redux project using the `rangle-starter` cli.
A few notes:
 - I selected https as the protocol for connecting to github, but it looks like `rangle-starter` is trying to clone the `react-redux-starter` repo using its ssh url.

[code]

[2016-06-24 19:26] ttmarek commented on #134
I went in to fix this myself but noticed that it was already fixed by 9bcb1ca05b7749064a1cc1b3ea816ec18f6e9eca. This issue can be closed.

[2016-06-26 02:22] SethDavenport opened #135 "Update login forms to RC3 model"
Angular2-redux-starter's login form generates this console warning:

[code]

We need to investigate and address it.

[2016-06-26 02:28] #132 closed

[2016-06-26 02:29] SethDavenport commented on #133
angular2-starter and angular2-redux-starter have been updated to RC3.

[2016-06-26 03:30] SethDavenport commented on #134
Published 1.3.1 to NPM with this fix.

[2016-06-26 03:31] SethDavenport commented on #134
@ttmarek can you verify and close if it's working for you now?

You'll need to do another `npm install -g rangle-starter`

[2016-06-26 22:02] SethDavenport opened #136 "Update angular starter to router v3"
This PR might be helpful: https://github.com/rangle/ngCourse2/pull/270/files

For the redux starter, let's make see if we can ensure the implementation is properly reactive - e.g. rewinding in redux dev tools should rewind route changes as well.

[2016-06-26 22:05] SethDavenport commented on #136
Might want to wait until it's out of alpha though.

[2016-06-27 14:25] #131 closed

[2016-06-27 16:04] SethDavenport opened #137 "Work around webpack production autoprefixing bug"
It turns out that webpack.UglifyJSPlugin sets a 'minification' parameter to all loaders, not just the JavaScript one. This in turn causes css-loader to do its own minification, which involves removing 'deprecated' vendor prefixes, including -webkit-flex.

This all happens after our cssnano/autoprefixer stuff so our browserlist file isn't fully respected in the final output.

See AngularClass/angul

[2016-06-28 19:19] SethDavenport opened #138 "Fix line-level HTML coverage reports"
The line level coverage resports in HTML are all showing this:

[code]

[2016-06-28 19:21] #138 closed

[2016-06-28 19:22] #134 closed

[2016-06-28 19:23] SethDavenport opened #139 "Harmonize react and angular unit tests toolchains"
The angular setups with Karma and instanbul are finally working well, thanks to @clbond.

Let's get that goodness into react-redux-starter and typescript-react-redux-starter

[2016-06-29 03:18] #137 closed

[2016-07-03 17:26] jedmao opened #140 "Demo username/password broken in readme"
The link to the demo username/password is broken in the readme.

https://github.com/rangle/typescript-react-redux-starter#production

[2016-07-03 20:31] clbond commented on #112
I implemented code coverage report generation for typescript-react-redux-starter in https://github.com/rangle/typescript-react-redux-starter/pull/169, but it does not use an "npm run cover" command, it just is part of the "npm run test" run / karma configuration - not a separate command.

[2016-07-04 13:49] clbond commented on #139
This is implemented in these PRs:

react-redux-starter - https://github.com/rangle/react-redux-starter/pull/217
typescript-react-redux-starter - https://github.com/rangle/typescript-react-redux-starter/pull/169

[2016-07-06 05:24] danielmhair commented on #136
Any update on this? I'm trying to keep up with the latest version of Angular 2. I'm uncertain whether I should remain with `router-deprecated` with this repo had it when I cloned it or try to use router v3 on my own.

[2016-07-06 15:57] sumitarora opened #142 "Update Starter to add support for koa-api-starter"
https://github.com/rangle/api-koa-starter
- [x] Update CLI
- [x] Update Readme

[2016-07-06 15:59] sumitarora opened #143 "Implement tools for better code coverage for koa-starter"

[2016-07-06 16:00] sumitarora opened #144 "Implement api endpoints to be used in starters for authentication"

[2016-07-06 16:00] sumitarora opened #145 "Investigate prodmode clustering with throng"

[2016-07-09 03:19] SethDavenport opened #147 "Ugrade to v3 router"

[2016-07-09 03:21] sumitarora commented on #147
@SethDavenport Is anyone working on this?

[2016-07-09 03:57] #139 closed

[2016-07-09 03:57] #43 closed

[2016-07-09 04:43] SethDavenport commented on #147
Yes. Me.

[2016-07-09 04:50] #142 closed

[2016-07-09 04:55] SethDavenport commented on #136
Working on it - #147.  angular2-starter should be good to go.

Still need to iron out some peer dependency fun with RC4 for the angular2-redux-starter.

[2016-07-09 04:55] #136 closed

[2016-07-09 04:58] #112 closed

[2016-07-09 14:28] bennett000 opened #148 "Window `npm run X` failures: possible ' vs " issue"
Some commands have been failing on windows, notably:
- CSS lint
- Commands using concurrently

Manifestation for the CSS lint issue is that no files are found it's like it does not see the arguments

Manifestation for the concurrently issue is an error than says something _like_ `command np is not a command`

One _unconfirmed_ solution was to avoid `'` quotes in `package.json` `scripts`

[2016-07-12 20:16] barretodavid opened #149 "Observable type definition not found"
When doing a clean install of the angular2-starter repo (the one without Redux) and trying to run the command `npm run dev`, the following error is shown in the console:

[code]

This issue seems to be related to the `awesome-typescript-loader` used by webpack. For this starter version we are currently using the version **2.0.1** but as can be seen in the (project repo readme file)[https://github.

[2016-07-13 16:13] #149 closed

[2016-07-13 20:16] #147 closed

[2016-07-17 05:13] SethDavenport opened #150 "Move readme stuff to rangle-starter"

[2016-07-17 05:14] SethDavenport commented on #150
Or delete it when the project is cloned with the CLI - one or the other.

Otherwise we end up with cloned projects having an irrelevant readme.

Maybe we just need to pare it down to the minimum run commands.

[2016-07-18 23:10] SethDavenport opened #151 "Better folder structure"

[2016-07-18 23:12] SethDavenport commented on #151
Thoughts?

[2016-07-18 23:13] SethDavenport opened #152 "Decouple example apps from starters?"
These starters have two purposes:

1) to give our projects a toolchain setup, and
2) to serve as architectural examples.

However recent experience suggests that 2 is interfering with 1 somewhat. It would be nice to separate the two concerns.

How do we do this without going nuts trying to keep 10 things up-to-date?

[2016-07-18 23:17] SethDavenport commented on #152
One suggestion would be to keep two versions of the sample app: NG2+Typescript and React+Babel (down from four), put them in their own repos, and not worry too much about keeping the up to date with package updates.

The starter projects would then just be a hello world page and toolchain stuff, but kept aggressively up-to-date.

Projects get their starter kits, and when people want code examples

[2016-07-18 23:17] SethDavenport commented on #152
Another proposal is to make the rangle-starter CLI strip out the sample app when you use it to clone.

[2016-07-18 23:17] SethDavenport commented on #152
Discussion welcome.

[2016-07-18 23:19] SethDavenport commented on #148
Reopening - this needs to be checked on all starters. Remaining: react-starter, angular1-starter, angular2-starter, api-koa-starter

[2016-07-18 23:22] SethDavenport commented on #144
I'd like to get rid of the nodeJS express server in the front end starters, because it's clunky and confusing.  To do so, the example apps need a real server to call.

Let's see if a herokized api-koa-starter can be that server.

[2016-07-19 01:29] RSNara commented on #152
Not too sure if this is the easiest solution. We already have a handful of starters, all of which don't look to be configured in exactly the same fashion. Adding all that logic to strip out the sample app into the cli seems like it could be a pain to implement and maintain. Also, it'd introduce coupling between the starters and the `rangle-starter` cli, which would make upgrading the starters with

[2016-07-19 03:36] danielmhair commented on #152
I vote for the latter:

[2016-07-19 12:46] TrevorMills opened #153 "Test Runner for Server ( React Redux Starter )"
Hi there,

I've been playing around with the React Redux Starter repo as an introduction to that stack. I'm at the point where I want to write some tests on server side code, but it appears Karma doesn't know how to run tests within the ./server directory.  Is this intentional?  If you were going to add some testing boilerplate for testing server side code, what might it look like?

Many thanks
Tr

[2016-07-19 14:40] kosz commented on #144
The express server is very handy for serving mock data. kind of a new generation of the hack-stack. Does it really have to go ?

I also have some code for it that can wire up new mock routes quickly based on json files.

[2016-07-20 22:34] SethDavenport commented on #152
Right now we have 6 starter repos:
- Ng1 + TS + Redux
- Ng2 + TS + Redux
- Ng2 + TS
- React + TS
- React + Babel
- Koa + Babel

Each one (except Koa) contains a starter app. Splitting them as-is would result in 11 repos, which I don't have time to maintain :)

Ng2 + TS only exists because some people found the Ng2 + TS + Redux starter complicated as a starter.

Here's what I propose: we split the

[2016-07-21 02:27] nasreddineskandrani opened #154 "angular2-redux-starter vs heroku"
i tried to use with heroku this repo:
https://github.com/rangle/angular2-redux-starter

Not working for me. Can someone tell me if he get it working with heroku?

I was working without the server code. I was using locally `npm run dev:client` to run my ng2 client.
now i think we can't rely in webpack server on heroku so i let the default npm start in the Procfile that start nodeserver but not work

[2016-07-21 02:50] SethDavenport commented on #154
This repo's master branch auto deploys to a heroku instance: http://angular2-redux-starter.herokuapp.com/counter

It runs `npm start` which is the command to start the sample app in release mode (without webpack-dev-server).

However by default Heroku doesn't install the dev dependencies; you need to set NPM_CONFIG_PRODUCTION = false in Heroku's config section. Can you give that a try?

[2016-07-21 15:20] e-schultz commented on #152
Overall I think this is a good idea, looking at projects that have used the starter - the first commits are always renaming things and/or dropping things. Getting them to be a bit more minimal/barebones would be good.
- create new repo, angular2-starter-example -> current angular2-starter
- angualr2-starter -> rip out 'app' part, down to a hello-world
- new angular2-starter-redux-example -> curren

[2016-07-21 23:17] SethDavenport commented on #143
Looks like Jason already took care of this one.

[2016-07-21 23:18] #143 closed

[2016-07-22 04:39] nasreddineskandrani commented on #154
it's working thank you.

[2016-07-27 15:59] e-schultz opened #155 "angular2-starter production build fails"
Get error:
<img width="548" alt="screen shot 2016-07-27 at 11 58 59 am" src="https://cloud.githubusercontent.com/assets/3045906/17182451/8b2b92e8-53f1-11e6-89b0-ef45aa0f8a7d.png">

If I remove the `new webpack.optimize.OccurenceOrderPlugin()` from the webpack plugins, it works though.

[2016-07-27 21:38] SethDavenport commented on #152
@e-schultz let's not have 'starter' in the example repos

also I don't think we need two angular2 examples (with and without redux). Let's just have the redux one.

[2016-07-27 21:42] e-schultz commented on #152
ok, so
- angular2-starter-example -> kill
- angular2-redux-starter -> angular2-redux-example
- angular2-starter -> update readme to point to the example, and merge the PR removing the sample app

[2016-07-27 21:43] SethDavenport commented on #152
Per the support squad meeting today, it sounds like we're in agreement about the starters being decoupled from the examples.

Here's the wishlist we came up with for what a starter should do:
- `npm run build` -> bundle and package statically
- `npm run dev` -> run dev mode with watching, live & hot reload as applicable, debuggable
- `npm test` -> run linters, unit tests, and coverage report
- `np

[2016-07-27 21:48] SethDavenport commented on #152
We should make a similar wishlist for example repos. Ideally we'd want a minimal set that covers the following:
- how to do redux with typescript
- how to do redux with babel
- how to do components with React
- how to do components with Angular 2
- how to do e2e tests with robot
- how to do selectors with ng2-redux (`@select`)
- how to do selectors with react (reselect)
- how to to side-effects wi

[2016-07-28 03:59] innovative1 opened #156 "angular2-redux-starter: Reference third party css modules e.g materialize"
I am using the angular2-redux starter as the base of my project. Also using the materialize css theme loaded from a CDN, which works fine (mostly) but due to CDN error issues I want to load from the NPM modules provided.

Using the default webpack loaders, I should be able to load css, scss and fonts. This is not the case as Materialize references fonts which throw errors.

Trying to `import` the

[2016-08-02 02:14] #154 closed

[2016-08-02 02:17] SethDavenport commented on #155
Hmm - it's working for me...

[2016-08-02 02:18] #44 closed

[2016-08-02 18:52] SethDavenport commented on #152
Where possible we should rename existing repos to be the examples and spin up new ones for the starters

So links that have been sent out/stars for the more popular examples are retained.

## Examples:

Currently I'm thinking the following set of examples will cover the bases above. Where possible we should rename existing starters into the new examples because there are a lot of links to them in

[2016-08-04 15:49] dancancro commented on #115
@codebyuma  I maintain a database of the features of technologies so people can easily compare things. I just added angular2-redux-starter yesterday and as I learn it better I will be refining its information, but you can have a look at the comparison here. Just enter angular-cli into one box and angular2-redux-starter into the other, or any other pair of technologies. Then click side-by-side

htt

[2016-08-09 03:05] SethDavenport commented on #152
Retired angular2-redux-starter as above. The old repo is still available as https://github.com/rangle/angular2-redux-example - there are a few cleanup items on that repos issues page for anyone who's interested.

[2016-08-10 14:05] e-schultz commented on #135
@SethDavenport can this issue be closed now?

[2016-08-10 14:06] e-schultz opened #160 "Update angualr2-starter to RC5"

[2016-08-10 14:44] #135 closed

[2016-08-12 20:39] srfoster opened #161 "Installing other modules"
Probably a nooby question here.  I'm using the redux-react-typescript starter.  Things work well, except... how do I install other node modules?

I assume I should just be able to do "npm install _____" and then reference the module in my code with an import.  E.g.

    npm install animated

And then

    import Animated from "animated"

But the webpack dev server tells me:

    Cannot find module

[2016-08-12 21:17] srfoster commented on #161
This seemed to work:

[code]

I'll admit, as a newcomer to node, I'm confused about when to use import and when to use require.

[2016-08-12 21:25] SethDavenport commented on #161
You've run into one of the joys of Typescript :)

Typescript is great and I like it a lot. However, it does subtly change the meaning of `import` from ES6.

Essentially, typescript wants to find type definitions for the third party library, for static analysis, code completion, etc.  This presents an issue for libraries that weren't written in typescript.  So that this point you have a couple of o

[2016-08-15 15:00] srfoster commented on #161
Cool!  Thanks for the clear explanation.  :)  And thanks for putting together a great starter stack.

[2016-08-15 15:01] #161 closed

[2016-08-27 08:01] jphustman opened #162 "can't change port 8080"
I need 8080 open, so I changed server/node-server.js  to process.env.PORT || 8088 and when I npm run dev, I get "Error: listen EADDRINUSE 127.0.0.1:8080" is there a cache or something that needs cleared?

I'm using the Angular 1 starter.

Thank you.

[2016-08-27 14:07] SethDavenport commented on #162
In release mode (`npm start`) the nodejs server does a couple of things: it serves a client code bundle from the dist folder (generated by `npm run build`) and some REST endpoints under an `/api` route.

However in dev mode `npm run dev`, we use webpack-dev-server (on port 8080) to serve the client separately and the nodejs server (on port 3000) just serves the routes under `/api`. This is so we c

[2016-08-27 14:11] SethDavenport commented on #162
If you need to keep 8080 open for something else while running in devmode, you need to change the webpack-dev-server port instead. You can do this by adding `--port 8088`  to the webpack-dev-server command in package.json

[2016-08-27 16:54] jphustman commented on #162
Thank you this did change the port, but I'm getting a error that was still showing up before even when the port was at 8080.

[code]

Is there a better place than github issues for new 'rangle-starter' user troubleshooting?

[2016-08-27 17:09] SethDavenport commented on #162
Hmm haven't seen that before - I'll take a look Monday when I'm back from traveling.

We also have a gitter channel for the starter projects: https://gitter.im/rangle/rangle-starter

[2016-08-27 17:10] jphustman commented on #162
Thank you, the port issue is fixed so I'll close this and head over there.

[2016-08-27 17:10] #162 closed

[2016-09-05 21:11] clbond opened #163 "angular2-redux-starter: migrate to RC6"
Implemented by https://github.com/rangle/angular2-redux-example/pull/270

[2016-09-05 22:03] eduardonunesp opened #164 "Error on first run [ts-react]"
Just after clone, npm install and npm run dev:client

[code]

[2016-09-06 13:42] SethDavenport opened #165 "Ng2-minimal cleanup tasks"

[2016-09-06 13:43] SethDavenport commented on #165
- get greenkeeper PRs sorted out (might be easier to make a new PR with all the updates sorted out).
- update to rc6
- update to webpack 2
- update to typescript 2

[2016-09-06 13:44] SethDavenport commented on #165
(this is for github.com/rangle/angular2-starter)

[2016-09-06 13:45] SethDavenport commented on #165
If you run into TS2 issues slack me, if you run into webpack 2 issues slack Michael Bennett or David Barreto

[2016-09-06 18:52] SethDavenport opened #166 "Prune dependencies"
The angular2-starter has a bunch of dependencies left over that are no longer needed.  For example,  since the app exists, we don't need the whole server folder and can drastically simplify the toolchain.

[2016-09-06 18:55] SethDavenport commented on #166
- delete the /server folder
- remove all the server side deps from package.json
- update the scripts in package.json to just run webpack-dev-server in dev mode
- update the scripts in package.json to just serve the contents of dist in prod mode (npm run dev) using a baked in http server like `http-server` from npm.

[2016-09-06 18:57] SethDavenport opened #167 "Revaluate Shims-for-IE"
Take a look at the 'shims/shims-for-ie.ts' file. This is something I added for ng2 beta where their support for IE9 was broken out of the box.

Since then, they've improved their polyfills. Let's see if we can get rid of some or all of this file with RC6.

[2016-09-06 19:01] SethDavenport opened #168 "Get AoT working"
The Angular offline Template compiler (AoT) is supposed to drastically reduce bundle size in prod mode.

It relies on webpack 2, ts 2, and some changes to the way we transpile import statements.

Let's see if we can get it working in the ng2-starter.

David baretto or Eric Jimenez can likely help point you in the right direction.

[2016-09-07 14:36] troyt-42 commented on #166
`SplitByPathPlugin` was causing problem when use `http-server` to serve ./dist:

<img width="1320" alt="error" src="https://cloud.githubusercontent.com/assets/7275468/18316008/09d2aad0-74e7-11e6-91ae-ba9a237ad41c.png">

[2016-09-07 16:24] troyt-42 commented on #167
I tried the app on IE 9.0.8112.16421 and it seems that simply removing shims_for_IE.ts is fine.

[2016-09-07 16:25] SethDavenport commented on #167
Great - can you go ahead and do that?

[2016-09-07 16:29] troyt-42 commented on #167
Yes, I just created a PR: https://github.com/rangle/angular2-starter/pull/146

[2016-09-07 16:38] SethDavenport commented on #166
The issue with commenting it out is that now all the code goes into one big bundle instead of an app.js and a vendor.js.

Since vendor code in a project changes less often, we want to be able to cache it separately.

Now that you mention it though I think @bennett000  ran into issues with webpack 2 and splitbypath - so we changed over that project to CommonsChunk plugin instead.

[2016-09-07 16:44] #167 closed

[2016-09-07 16:45] #155 closed

[2016-09-07 16:46] #119 closed

[2016-09-07 16:46] #163 closed

[2016-09-07 16:47] #108 closed

[2016-09-07 16:48] SethDavenport commented on #164
I just merged a fix for this a couple of days ago. Can you try again?

[2016-09-07 16:48] #164 closed

[2016-09-07 19:50] #165 closed

[2016-09-07 19:50] #166 closed

[2016-09-07 20:07] bennett000 commented on #166
@SethDavenport yes I did run into split by path with Webpack 2.  I think others ran into that too.  The chunks plugin works although it's more tedious.  That said I **think** tree shaking enforces a _singluar_ bundle (no vendor)

[2016-09-08 00:59] eduardonunesp commented on #164
Yeah, it's fixed. Thank you

[2016-09-08 22:30] #115 closed

[2016-09-08 22:30] SethDavenport opened #169 "Get proper code coverage reporting set up"

[2016-09-08 22:34] SethDavenport commented on #169
I noticed the other day that the angular2 starter has text-only coverage reports for unit tests. It is also possible to set up html reports that you can open in your browser; these reports let you drill down to the parts of the code that aren't well covered.

I believe we have gotten this working in the angular2-redux-example app; while that's an older toolchain it might help you set it up for ang

[2016-09-15 18:36] jphustman opened #170 "Uncaught Error: Zone already loaded. [ng2]"
When running 'npm run dev' the application will not start, Chrome debugger says:

[code]

[2016-09-15 20:44] sonukapoor opened #171 "Module build failed: Error ....node_modules/css-loader/index.js?-minimize!./basscss-type-scale'"
`Module build failed: Error ....node_modules/css-loader/index.js?-minimize!./basscss-type-scale'`

You may receive the above error when trying to:

`npm install`

In that case just delete the node_modules folder and run the command again.
It should fix the issue.

[2016-09-16 15:01] sonukapoor commented on #170
@jphustman Remove the Zones.js from the webpack.config.js in the vendors array. Make sure to keep the last comma after immutable. Your vendor array should look like this:

[code]

[2016-09-16 16:09] jphustman commented on #170
Great thank you, that is how i worked around it, but wasn't sure enough to create a pull request, I'm still trying to wrap my head around webpack.

[2016-09-21 22:30] srfoster opened #172 "Big vendor file"
I've been using this stack:

https://github.com/rangle/typescript-react-redux-starter

It's great.

Now, I am trying to deploy a first production release and I'm noticing that my vendor file is massive (>2M).  Even when I freshly clone the above starter and run "npm install" I notice that the vendor.js file in dist/ is >400K, which still seems pretty big.

Is this expected?  Am I building somethin

[2016-09-22 09:45] clbond commented on #169
Resolved by https://github.com/rangle/angular2-redux-example/pull/275

[2016-09-22 09:45] clbond commented on #169
Resolved by https://github.com/rangle/angular2-redux-example/pull/275

[2016-09-22 17:39] gillianml commented on #168
Currently blocked by Google team. See comments in PR

[2016-09-22 17:47] gillianml commented on #64
@riavalon are you actively working gone this. If not, could you please remove yourself from this card?

[2016-09-22 17:48] gillianml commented on #64
Because a designer may be available to help with this.

[2016-09-26 13:56] SethDavenport commented on #172
Hi @srfoster

No that's definitely not expected!

When I make a prod build (`npm run build`) on that starter I get the following:

[code]

Can you check that your command has `NODE_ENV` set to `production`? (should be set up as part of the npm build script.

The other thing to check is the 'devtool' setting in `webpack.conf.js`: it should not be using 'inline-source-maps' in prod mode.

[2016-09-26 18:20] srfoster commented on #172
Actually, `npm run build` works great.  Much smaller.  I was using `npm install`, which was producing the larger dist files.

Thanks for the help!

UPDATE: I was mistaken about this.  See below.

[2016-09-27 16:40] bennett000 commented on #152
@watrool was able to setup the dedicated react starter at: https://github.com/rangle/react-starter

It still contains Redux and the Router and the rest of the tool chain as well as the utils, but no app code.

[2016-09-27 19:58] srfoster commented on #172
Sorry to completely pivot what I just said, but I was mistaken.  I thought my build had gotten smaller, but I was looking at the base project's build:

https://github.com/rangle/typescript-react-redux-starter

In reality, neither my vender file nor the one from the base build has gotten smaller.  And `npm install` seems to produce the same stuff as `npm run build`.

Indeed, from what you posted ab

[2016-09-27 20:10] SethDavenport commented on #172
Yes I'ma afraid so.

If there are some deps that you're not actually using you could try pruning them out. Might be able to drop some of the Basscss addons.

Another alternative is to upgrade to webpack 2 and see if tree shaking helps.

[2016-09-27 22:03] srfoster commented on #172
Okay, that's fine.  Thanks for confirming.

[2016-09-28 17:05] bennett000 commented on #152
react-redux-starter renamed to react-redux-example.  The old link still works :)
- https://github.com/rangle/react-redux-starter
- https://github.com/rangle/react-redux-example

React/TS also updated:
- https://github.com/rangle/typescript-react-redux-starter
- https://github.com/rangle/typescript-react-redux-example

[2016-09-28 17:17] bennett000 commented on #169
The main Angular 2 starter's karma specifies HTML reporting too so I'm moving this card to done

[2016-09-28 17:17] #169 closed

[2016-09-28 17:19] bennett000 commented on #68
as of #152 we're trimming the starters down to "Hello World".  This card won't be relevant for them but it _is still relevant to the examples_.

[2016-09-28 18:02] SethDavenport opened #173 "Set up log rotation settings by default"
This involves:
1. making morgan and winston both use a winston transport
2. putting log rotation settings in the /env files
3. picking some sane defaults.

The point of this is to avoid servers going down unexpectedly later when disk space runs out due to huge log files.

[2016-09-28 18:02] SethDavenport opened #174 "default monitoring solution?"
new relic? dynatrace? others?

[2016-09-29 21:24] troyt-42 commented on #68
@bennett000 Since our [style guide](https://github.com/rangle/angular2-guidelines) has not been updated from April, do we need to follow [Angular's style guide](https://angular.io/styleguide) for now?

[2016-09-30 18:47] smkamranqadri commented on #89
agree with as i am using ngrx in a project which dives me to learn and understand the api and ng2-redux similar to redux so i go for the ng2-redux.

[2016-10-05 11:01] sivaramsi opened #175 "Got couple of critical dependency warning while running during development in angular2-starter"
client?cd17:69 ./~/@angular/core/src/linker/system_js_ng_module_factory_loader.js
45:15 Critical dependency: the request of a dependency is an expression
CriticalDependencyWarning: Critical dependency: the request of a dependency is an expression
    at SystemImportContextDependency.getWarnings (F:\angular 2\angular2-starter\node_modules\webpack\lib\dependencies\SystemImportContextDependency.js:23

[2016-10-14 17:32] smithad15 opened #176 "Error thrown with Node 6"
When installing rangle-starter in a Node v6 environment, the following error is thrown:

`rangle-starter@1.4.1: The engine "node" is incompatible with this module. Expected version "4.x".`

Need to add more permissive engine ranges in `package.json`

This error condition was thrown with yarn but not with npm

[2016-10-16 21:39] #176 closed

[2016-10-17 16:01] smithad15 opened #178 "Forms dependency missing from angular2-starter"
The angular2-starter is missing the @angular/forms package.

[2016-10-18 20:51] smithad15 opened #179 "Istanbul Remap Upgrade Breaks"
Upgrading `istanbul-instrumenter-loader` or `karma-remap-istanbul` in the angular2-starter breaks the tests with various file not found errors. Investigate switching `karma-remap-istanbul` with `karma-remap-coverage`.

[2016-10-19 12:53] heaplabs opened #180 "webpack-dev-server not serving index.html [typescript-react-redux-example]"
After cloning the repo, run the following commands:
[code]

There is a 404 Not Found error on opening the app. The `index.html` file is not being served from memory by webpack-dev-server. Any ideas about this ? This might also mean webpack-dev-server is not reflecting the updated code on the fly.

Environment:
OS X 10.11.6
Node.js v4.2.1

[2016-10-19 17:02] #178 closed

[2016-10-19 19:35] smithad15 commented on #179
`istanbul-instrumenter-loader` is unable to be updated past `0.2.0` as it breaks source map loading. See https://github.com/deepsweet/istanbul-instrumenter-loader/issues/32 for more information

[2016-10-20 15:31] smithad15 opened #181 "Detach global styles from root component"
For `angular2-starter` we should use webpack to load our global styles into the `<head>` tag. With the current setup, if you include markup outside of your angular app you will have a flash of unstyled content until Angular bootstraps itself. Also, if you actually wanted to scope certain styles to your root component you are currently unable to do so.

[2016-10-20 16:19] smithad15 opened #182 "Add trailing comma tslint rule"
Add the appropriate tslint rules to `angular2-starter` to enforce trailing commas in multi-line objects, arrays, and function parameters

[2016-10-20 21:15] #182 closed

[2016-10-24 02:13] mikeumus commented on #115
### Considering becoming an Angular CLI template or using @ngtools/webpack

With the Angular CLI becoming so powerful and central to workflow, it's a good time to consider if this starter makes sense to work as an Angular CLI template. See "[App Creation Using Template](https://github.com/angular/angular-cli/wiki/Stories#app-creation-using-template)" in the CLI wiki. Becoming a template would look

[2016-10-24 04:25] SethDavenport commented on #115
We've looked quite a bit at angular-cli, several times. While I'm a big fan of the new webpack version, it's just not flexible enough for us yet.

In particular:
- it doesn't support our CSSNext-based workflow
- it's philosophy of hiding the build configs is not one we share - as people who maintain high scale production systems we need full control, not another level of hidden detail.

Note that

[2016-10-25 13:58] #179 closed

[2016-10-25 15:35] smithad15 opened #183 "Enable lazy-loading in angular2-starter"
We should probably add the ability to do lazy loading if desired into the `angular2-starter`. Seems to be able to be implemented with the addition of [angular2-router-loader](https://www.npmjs.com/package/angular2-router-loader)

[2016-10-25 17:12] smithad15 opened #184 "Update angular2-starter-example to ngModule structure"
We should probably update the `angular2-starter-example` to follow the style guide recommended ngModule file and folder structure.

[2016-10-25 17:13] smithad15 opened #185 "Update angular2-redux-example to ngModule structure"
We should probably update the `angular2-redux-example` to follow the style guide recommended ngModule file and folder structure.

[2016-10-25 17:19] smithad15 opened #186 "CLI does not init a git repo if not connected to a GitHub repo"
If you choose to not associate a GitHub repo with a new `rangle-starter` project during the setup process, it will not initialize the project with git. Should probably run a local `git init` on the project as if you had specified a GitHub repo, but leave the association of a `git remote` up to the developer.

[2016-10-25 21:01] smithad15 opened #187 "Move vendor manifest out of webpack.config"
For the angular2-starter it might be easier for project maintenance to create a vendor manifest file like `src/vendor.ts` with import statements instead of keeping an array inside of `webpack.config`. Then you don't have to touch the webpack file during the usual course of production.

Might be interesting to see if there was a way to add a `postinstall` hook to dynamically inject an import statem

[2016-10-26 09:40] #180 closed

[2016-10-26 15:10] smithad15 opened #188 "Add e2e tooling to angular2-starter"
We don't have any tooling setup for end-to-end tests in the `angular2-starter`. There is currently a legacy `e2e` folder with out of date tests that should be replaced with a basic smoke test. A decision needs to be made as to whether to include Protractor, Robot, or another framework.

[2016-10-26 17:44] SethDavenport opened #189 "yarn on CI?"
I'm a big fan of yarn: https://yarnpkg.com/

I don't think we should require people to use it, but it might be worth getting it to work on CI for reliability (yarn.lock) and build speed.

Should just be a matter of updating the circle.yaml as follows:

[code]

And also doing `yarn install` locally and checking in the `yarn.lock` file.

[2016-10-27 13:43] smithad15 opened #190 "Ensure that loaders are switched to minimize mode"
As of Webpack 2, UglifyJSPlugin does not automatically set loaders into minimize mode ([see here](https://gist.github.com/sokra/27b24881210b56bbaff7#loader-options--minimize)). We need to ensure that minimization is happening for production builds to continue our reduction of build sizes.

[2016-10-27 20:42] smithad15 opened #191 "Add compression to build process"
Consider adding [CompressionPlugin](https://github.com/webpack/compression-webpack-plugin) to production builds to further reduce angular2-starter bundle sizes.

[2016-10-27 20:43] smithad15 opened #192 "Investigate Typescript Fork Checker"
`awersome-typescript-loader` has the ability to fork the type-checking process for faster builds. Investigate adding this functionality for angular2-starter development builds

[2016-10-27 20:49] smithad15 opened #193 "Add chunk sorting to HTMLWebpackPlugin"
Add the `chunksSortMode: 'dependency'` property to HTMLWebpackPlugin in angular2-starter to ensure that bundles get injected in the right order

[2016-10-28 14:46] smithad15 opened #194 "Investigate swapping out static polyfills for polyfill.io"
Seeing as we are always wanting to code with the most recent language features, it might be nice not to have to manually manage which polyfill bundles we need to supply. Should investigate whether we can decrease maintenance load and polyfill bundle size by using a service like polyfill.io

[2016-10-28 20:36] SethDavenport opened #195 "Apply Chunkhash changes to react-starter too"
See https://github.com/rangle/angular2-starter/pull/175: just needs to be replicated over to the react-starter.

[2016-10-28 20:48] SethDavenport commented on #152
A few more action items for this story:
- split the angular1-redux-starter into a minimal angular1-starter and an angular1-redux-example like we did for the others.
- remove `React with TypeScript and Redux` and an option from the rangle-starter command line (and from the README).
- turn off greenkeeper for the examples.
- nuke the other angular2 example if @e-shultz is OK with it (repo name angul

[2016-10-28 20:50] #68 closed

[2016-10-28 20:53] SethDavenport commented on #8
We should do it, should just be args to istanbul

[2016-10-28 20:54] #173 closed

[2016-10-28 20:55] #64 closed

[2016-10-28 20:59] SethDavenport opened #196 "Is is worth replacing the react starter with create-react-app?"

[2016-10-28 20:59] SethDavenport commented on #191
Normally this is something the webserver would do with deflate or whatever

[2016-10-28 20:59] #191 closed

[2016-10-28 21:01] SethDavenport commented on #189
Yes, we want it :)

[2016-10-28 21:03] SethDavenport commented on #189
We won't force people to use it; things will still work using `npm`. But CI will use `yarn`.

[2016-10-28 21:05] SethDavenport commented on #196
Let's investigate what it gives us and whether it can be integrated with our flow.

Thinks to check:
- will it work with our CSS strategy (PostCSS/CSSNext/CSSModules)?
- what about testing? I think they use Jest, we need to make sure that coverage is working.
- E2E testing - what would be a plan there?

[2016-10-28 21:05] SethDavenport commented on #193
Yes.

[2016-10-28 21:06] SethDavenport commented on #193
We need to do this for all starters: react, ng1, ng2.

[2016-10-28 21:06] SethDavenport commented on #192
Also investigate for ng1 starter.

[2016-10-28 21:06] SethDavenport commented on #192
Try it, measure speed increase, decide if it's worth it.

[2016-10-28 21:07] SethDavenport commented on #190
We use css nano as a postcss plugin so is this really needed @smithad15 ?

[2016-10-28 21:08] #14 closed

[2016-10-28 21:10] SethDavenport commented on #186
I think this is the desired behaviour - what if you're using hg ;)

[2016-10-28 21:11] #186 closed

[2016-10-28 21:11] SethDavenport commented on #184
We are nuking this repo

[2016-10-28 21:11] #184 closed

[2016-10-28 21:12] SethDavenport commented on #181
AoT doesn't support this unfortunately. So no dice I'm afraid.

[2016-10-28 21:12] #181 closed

[2016-10-31 19:08] #168 closed

[2016-10-31 21:21] SethDavenport commented on #189
Added to api-koa-starter. Also boosted the node requirement to v6 since it's LTS now.

[2016-11-01 18:06] marcandrews opened #197 "Add a Rollup branch"
Add a branch that uses Rollup instead of Webpack

[2016-11-01 18:07] marcandrews opened #198 "Possible alternative way to handle CSS @import"
An alternative way of handling CSS @import is use Webpack's preLoaders. For example:

[code]

[2016-11-01 20:29] troyt-42 commented on #192
I tried this with angular2-starter, and the `dev` mode is improved like 1s faster (which can be in accurate since my measure is very simple). But considering turning on fork checker is very easy,  we may want to have it on starters.

[2016-11-01 21:03] watrool opened #199 "Change [chunkhash] to [hash]-[id]"
Using [chunkhash] causes errores when `npm run dev`:
[code]
and I think [hash]-[id] has the same effect of [chunkhash].

[2016-11-01 21:05] troyt-42 commented on #195
Also see #199

[2016-11-01 21:16] SethDavenport commented on #199
@smithad15 thoughts?

[2016-11-02 03:01] smithad15 commented on #190
It was more of a catch all investigation question to make sure that there aren't any other loaders that would have normally been switched over in Webpack 1 that currently aren't being handled (HTML?). If it turns out that everything is fine, we can close this.

[2016-11-02 03:15] smithad15 commented on #199
`[hash]-[id]` does not give the same effect since `[hash]` is the hash of the _compilation_ while `[chunkhash]` is the hash of that _specific chunk file_.

Upon investigation it looks like it is a problem with `webpack-dev-server --hot`. It is suggested to only do hashes in production builds, not dev builds. Probably a good idea since hash calculations in development don't particularly matter. See

[2016-11-02 19:47] SethDavenport commented on #199
@watrool can you make this change then?

if process.NODE_ENV === PRODUCTION, use chunkhash, otherwise use hash-id?

[2016-11-02 19:48] smithad15 commented on #199
I would remove the hash completely for dev

[2016-11-02 20:07] troyt-42 commented on #198
@winkerVSbecks FYI, the context is using `ngc` directly.

[2016-11-02 20:58] troyt-42 commented on #199
@SethDavenport @smithad15 Please see https://github.com/rangle/angular2-starter/pull/182 :)

[2016-11-03 13:45] #193 closed

[2016-11-03 13:46] #199 closed

[2016-11-03 13:59] #192 closed

[2016-11-03 14:29] troyt-42 commented on #187
@smithad15 I have moved the vendor array from webpack config to `src/vendor.ts`, and for the `postinstall` script that automatically inject new packages to `src/vendor.ts`, I think it is not a suitable thing to do because:
1. How to identify which new package should be included (what if I installed a new webpack plugin)?
2. How to (or Should we) remove the old packages if user deleted them in the

[2016-11-03 14:35] troyt-42 commented on #145
@SethDavenport what does the phrase "prodmode clustering" mean in starters? since we do not have anything like `server.js` anymore.

[2016-11-03 15:14] smithad15 commented on #187
Agreed on the postinstall script. This should probably be left to the developer.

[2016-11-04 19:44] #195 closed

[2016-11-04 19:45] #187 closed

[2016-11-07 16:47] winkerVSbecks commented on #198
Tried a couple of tests of not using `postcss-loader`. tldr; it doesn't work.

We can import all basscss/tachyons files as requires. However, then we don't have access to variables and some of those files import other npm modules which fails because we don't have postcss-import.

[2016-11-08 07:56] helojo opened #200 "how to run?"
I cloned this project,and run npm run test or npm install,the console allways scroll  "Resolved "redux"" text. how can i do make it run success?

[2016-11-12 12:37] dioxmio opened #201 "Angular 1 Dependencies"
Hi, is it possible to loose the ng-redux dependency? I would like to include redux in my angularjs app but without that lib. As I m trying to migrate an angular 1 to angular 2 I would like to reduce the dependencies of angular 1 libs. What are your thoughs on redux-observable as well? It looks handy to me.

Many thanks

[2016-11-15 18:16] winkerVSbecks opened #203 "Replace Basscss with Tachyons"

[2016-11-16 03:03] helojo commented on #200
any one is here?

[2016-11-16 03:12] troyt-42 commented on #200
@helojo sorry for the late reply, and like said in the README.md:

You can clone one of these repo and run npm install there.

[2016-11-16 03:54] jphustman commented on #200
You have to run:

[code]

which will create a project, then in that project do

[code]

[2016-11-17 04:34] helojo commented on #200
thanks for up answers,i was clone https://github.com/rangle/typescript-react-redux-example.git,and then,run "npm install" the console allways scroll Resolved "redux " or other info. i do not know why this counld not init the inviriment.

[2016-11-17 20:22] jphustman commented on #200
Oh I see, if you are still having problems can you post the npm-debug.log (or the output you are getting in the console)?  If it's really long maybe paste it in http://pastebin.com/

[2016-11-22 18:07] bennett000 opened #204 "Angular 2 Example Upgrade"
Upgrade the Angular 2 example application to:

- [ ] conform to the angular.io style guide with respect to `NgModule`s
- [ ] use lazy loading for routes
- [ ] use AoT for production builds

[2016-11-22 18:08] bennett000 commented on #148
Talk to me about a Windows box for this whomever picks it up.

- [ ] The sample apps should also be made windows compliant

[2016-11-22 18:09] bennett000 commented on #198
@watrool did you ever come up with a work around for this?

[2016-11-26 17:48] #203 closed

[2016-12-02 18:02] radziksh opened #205 "update reduxform to version 6"
Hi, great starter! :) but I would like to note that there are already redux-form 6, and this version is not compatible with version 5, which is used on the page because of fundamental design changes: http://redux-form.com/6.2.1/docs/MigrationGuide.md.

[2016-12-02 18:48] radziksh opened #206 "change typings.json system to @types"
Hi, as typescript 2.0 is used in starter, then there is new typing system for definitions from https://github.com/DefinitelyTyped/DefinitelyTyped project. so instead code in `typing.json`:
[code]
can be used code in `package.json':
[code]
and typescript 2.0 will automatically handle it.
https://blogs.msdn.microsoft.com/typescript/2016/06/15/the-future-of-declaration-files/

[2016-12-03 15:55] dillon-sellars opened #207 "npm run test doesn't run any tests"
When I run `npm run test` I get

[code]
It looks like no tests are found and Karma errors out when no tests are defined.

[2016-12-06 22:48] bennett000 opened #208 "Update circle.yml to use built in yarn"
Current `circle.yml` files `npm install -g yarn` but there are official instructions.  This typically save ~20-30 seconds on builds: https://circleci.com/docs/install-and-use-yarn/

[2016-12-06 22:51] SethDavenport commented on #208
w00t - this was not available from circle when I started

[2016-12-06 23:15] bennett000 commented on #208
Yeah even in its current state it's got messy output and is kind of patchy, but I'm glad they did it because it really helped on another project.

We also figured out how to do the AoT build in parallel with the test run which helps reduce the time too.  That would be another card and I wanted to ask you about it first.

[2016-12-07 02:11] helojo commented on #200
WARNING in ./~/css-loader?-minimize!./~/postcss-loader!./src/styles/index.css
postcss-import: E:\workspace\typescript\typescript-react-redux-example\src\style
s\index.css:20:1: Failed to find 'basscss-type-scale'
    in [
        E:\workspace\typescript\typescript-react-redux-example\src\styles
    ]

WARNING in ./~/css-loader?-minimize!./~/postcss-loader!./src/styles/index.css
postcss-import: E:\

[2016-12-07 02:15] helojo commented on #200
up text is i run commond "npm run dev" in console.  react redux-thunk and others i was installed at first time

[2016-12-08 14:55] SethDavenport commented on #206
Yes you're totally right. We've done this for our other example apps but the react one needs some attention. Feel like making a PR? :)

[2016-12-08 14:55] SethDavenport commented on #207
Which repo are you using?

[2016-12-08 17:35] barretodavid opened #209 "Use @rangle scope for npm"
I think it would be a good idea to use the `@rangle` scope on npm to group more packages built by us, avoid naming collisions and following the same pattern Angular 2 is using for their own packages.

With this scope, to install the starter we would do:

[code]

[2016-12-08 18:02] barretodavid opened #210 "Update typescript dependencies to 2.1.x to simplify Webpack configuration [Angular 2]"
In our Angular 2 build system we are using a combination of Typescript and Babel to have the best of both transpilers. I'm pretty sure the only reason we were doing this is because we wanted to use `rest` and `spread` operators which wasn't supported by Typescript 2.0.x. Typescript 2.1.x now supports those operators so we no longer need to add Babel into the mix and we can simplify the build syste

[2016-12-12 17:33] radziksh commented on #206
well, ok. You have saved my time. I will save yours ;)

[2016-12-13 05:31] jphustman opened #211 "(Angular2/Typescript) TypeError: Cannot read property 'exclude' of undefined"
ERROR in ./src/main.ts
Module build failed: TypeError: Cannot read property 'exclude' of undefined
    at applyDefaults (/var/www/clients/client5/web7/home/kmeservejphustman/Desktop/testing/node_modules/awesome-typescript-loader/src/instance.ts:266:72)
    at Object.ensureInstance (/var/www/clients/client5/web7/home/kmeservejphustman/Desktop/testing/node_modules/awesome-typescript-loader/src/insta

[2016-12-13 11:04] qinlinxin2080 commented on #211
i see the same problem

[2016-12-13 13:39] SethDavenport commented on #211
Yes, we need to update to the latest typescript; there are some breaking changes. In the mean time you can pin your ts version to 2.0

[2016-12-13 13:40] SethDavenport commented on #211
@winkervswbecks @bennett000: I can try to get on this on Friday unless sup sq has time before then?

[2016-12-14 03:04] jphustman commented on #211
Yup I simply removed the ^ in the typescript dependency in package.json.

[2016-12-14 17:48] troyt-42 commented on #198
@bennett000, Varun has provided a fix and merged it to starters.

[2016-12-14 17:48] #198 closed

[2016-12-14 18:01] troyt-42 commented on #152
@SethDavenport @bennett000 Can we close this issue? It seems all the starters have been separated from examples.

[2016-12-14 18:25] jamesbs commented on #211
Any issues with switching to the awesome-typescript-loader 3.0.0-beta version instead?

[2016-12-19 06:10] bullyork opened #212 "rangle/typescript-react-redux-example typings depressed"
git clone git@github.com:rangle/typescript-react-redux-example.git
npm install

The error come - 'Error: Debug Failure. False expression: File  has unknown extension'.
when checked, it occours after 'npm run postinstall'

[2016-12-19 19:44] smithad15 commented on #210
I would love to add this in but there is an issue with `@ngtools/webpack` where AoT fails with any versions higher than:
- angular: 2.2.4
- router: 3.2.4
- typescript: 2.0.10

Lets keep an eye on the two affected errors:
- [`Error: ngCompiler.ReflectorHost is not a constructor`](https://github.com/angular/angular-cli/issues/3241)
- [`Error: AppModule is not an NgModule`](https://github.com/angular

[2016-12-21 02:19] jackytse commented on #211
i see the same problem

[2016-12-23 22:01] #145 closed

[2016-12-23 22:04] SethDavenport commented on #152
@bennett000 @watrool looks like angular-redux-starter still needs to be split.

[2016-12-23 22:06] SethDavenport opened #213 "Adapt to Angular renaming"

[2016-12-23 22:07] SethDavenport opened #214 "Make sure the starters and examples use a better redux folder naming strategy"
Learnings from a recent large react project:

In future, instead of
* `sagas`
* `selectors`
* `reducers`
* `containers`
* `components`
* `store`

I would probably next time do something like:

* `pages`
  * `routes.js`
  * `checkout`
    * `checkout.container.js`
    * `checkout.selectors.js`
    * `checkout.actions.js`
    * `checkout.sagas.js` (or effects/epics)
    * `components`
       * [chec

[2016-12-23 22:14] SethDavenport commented on #214
This can apply to all flavours of project: Angular/ng2-redux, Angular/ngrx, AngularJS/Redux, React/Redux.

This structure is much easier to grok when the codebase is large.  @e-schultz @bennett000 @seanmay @egervari @smithad15 This has all come up with each of you independently, I think it's time to make sure that the starters are configured to follow this by default.

@smithad15 you've played wit

[2016-12-23 22:16] SethDavenport commented on #214
If so, we should get it into the starters and the example apps. Order of priority:

ASAP:
* angular2-starter
* react-starter

Medium-SAP: 😃
* angular2-redux-example
* react-redux-example
* typescript-redux-example

Low-SAP:
* angular-starter (the ng1 one)
* angular-redux-example (doesn't exist yet, still needs to be split from the ng1 starter)

[2016-12-24 03:18] smithad15 commented on #214
For angular, we will need to make some style guide specific tweaks when it comes to the `pages` folder as that would be substituted for the `feature folder` paradigm from the style guide (also has some router based lazy loading implications). I've been wanting to do a refactor of `angular2-redux-example` to follow this for awhile now but keep getting swamped with client projects. I had white-board

[2016-12-24 18:44] SethDavenport commented on #214
makes sense. I'm not too worried about the particular folder names - features makes sense as well. just want to move to more of a feature - based approach, but without coupling the store

[2016-12-28 21:58] brianzinn commented on #212
Same for me.  With a git clone and no other changes.

npm run test
[code]

npm run dev:
[code]

npm start and visiting localhost:8080 has same result as above.

Node: 7.2.1
npm: 4.0.5
tsc: 2.1.4
os: windows 10

[2017-01-02 00:45] Kobold commented on #212
I believe this is due to a bug in tsc 2.1.4. Other discussions:

- https://github.com/Microsoft/TypeScript/issues/12749
- https://github.com/Microsoft/TypeScript/issues/13004

[2017-01-03 13:36] fahadhussain2 commented on #211
![image](https://cloud.githubusercontent.com/assets/19908737/21609282/54cea6ca-d1e3-11e6-9f5f-015227c36f11.png)

Please help me to resolve this issue

[2017-01-03 13:41] SethDavenport commented on #211
@jamesbs go ahead if that fixes it.

[2017-01-04 19:56] fahadhussain2 commented on #211
@SethDavenport  do u have any idea how to resolve this error?

[2017-01-06 20:44] SethDavenport commented on #212
I have pinned TS to 2.0.10 and this appears to be working again. Will check the next TS release when it happens.

[2017-01-06 20:44] #212 closed

[2017-01-06 20:45] SethDavenport commented on #211
Pinned typescript to 2.0.10. This should be fixed now.

[2017-01-09 07:40] fahadhussain2 commented on #211
how to pinned typescript to 2.0.10 ? @SethDavenport

[2017-01-09 13:28] SethDavenport commented on #211
@faradhussain2 go in your package.json and change the typescript version from ^2.0.3 to 2.0.10 (remember to remove the ^). Then do an npm install

[2017-01-09 13:28] #211 closed

[2017-01-09 17:47] fahadhussain2 commented on #211
removed the error .... thank you so much @SethDavenport  for your help

[2017-01-13 00:43] nh2 commented on #212
Typescript 2.1.5 is now released.

[2017-01-13 02:48] smithad15 commented on #214
For consideration: https://github.com/smithad15/angular2-folder-structure-example

I realise that there are parts of the store inside of each feature folder, however, I still think that there are parts of the application state that are tied to each feature area and should live there until they are used outside of that feature. At that point then of course they need to be promoted up to something m

[2017-01-13 22:07] SethDavenport commented on #214
cc: @clbond

[2017-01-13 22:08] SethDavenport commented on #208
This is a dupe of #221

[2017-01-13 22:11] SethDavenport commented on #144
@egervari @clbond this might also be related to refactoring the ng2-redux-example in terms of the CLI.

[2017-01-13 22:12] SethDavenport commented on #144
@kosz my gut feel is that this stuff is super confusing to new hires and community contributors.

However, if you do want a  quick server to hack against, we now have a server-side starter: api-koa-starter.

[2017-01-15 02:17] #183 closed

[2017-01-15 06:48] mattmischuk commented on #196
@SethDavenport can this be closed now?

[2017-01-15 14:16] danielfigueiredo commented on #196
I would say only the last bullet is still pending. I haven't done and work with E2E test support in our customization.

[2017-01-17 02:49] PhilipDavis commented on #212
FYI, according to this: https://github.com/Microsoft/TypeScript/issues/13256#issuecomment-270764790 the issue is in awesome-typescript-loader. Looks like you're using 1.0.0. Apparently, upgrading to 3.0.0 (which also requires upgrading Webpack to v2), eliminates the problem.

[2017-01-21 21:33] radziksh commented on #206
I added @types and application works but there is some error with `npm test`:
`21 01 2017 22:38:19.957:ERROR [karma]: Error: Invalid store [fslookup], allowed values are
    at Object.create (C:\typescript-react-redux-example\node_modules\remap-istanbul\node_modules\istanbul\lib\util\factory.js:47:28)
    at new HtmlReport (C:\typescript-react-redux-example\node_modules\remap-istanbul\node_modules

[2017-01-23 08:35] helojo opened #216 "has problem"
ERROR in [default] E:/workspace/typescript/typescript-react-redux-example/src/store/configure-store.ts:11:18
Cannot find module 'redux-thunk'.

ERROR in [default] E:/workspace/typescript/typescript-react-redux-example/src/store/configure-store.ts:13:21
Cannot find name 'require'.

ERROR in [default] E:/workspace/typescript/typescript-react-redux-example/src/store/configure-store.ts:57:18
Cannot fi

[2017-01-26 09:43] fahadhussain2 commented on #211
![image](https://cloud.githubusercontent.com/assets/19908737/22326272/c781d870-e3d3-11e6-881f-f04f1ae16f6f.png)

i found this error in "ng serve" after installing ngmaterial 2
Please help me with this error

[2017-01-27 21:40] SethDavenport commented on #189
* create react app script: creates a yarnified circle.yml
* angular2-starter: yarnified circle.yml
* api-koa-starter: yarnified circle.yml

[2017-01-27 21:41] bennett000 commented on #189
https://circleci.com/docs/yarn/

[2017-01-27 21:41] #148 closed

[2017-01-27 21:43] SethDavenport commented on #152
Consensus is that it makes sense to keep the angular1 example as is for now.

[2017-01-27 21:43] #152 closed

[2017-01-27 21:48] SethDavenport commented on #8
api-koa-starter has it.

create-react-app - @danielfigueiredo does the generated project this have a CI coverage threshold set up?

angular2-starter does not have it
angular-redux-starter does not have it

[2017-01-27 21:49] SethDavenport opened #217 "Update angular-redux-starter"
This is due for a toolchain update; we will be starting more of these soon.

- [x] yarn in circle-ci
- [x] webpack2 & tree shaking?
- [x] instalbul threshold in CI
- [x] general package updates

[2017-01-27 21:50] SethDavenport commented on #217
Use your judgement but some ideas incude:
* yarn in circle-ci
* webpack2 & tree shaking?
* instalbul threshold in CI
* general package updates
* whatever else you feel is useful

[2017-01-27 21:50] SethDavenport commented on #217
Varun mentioned he might have time in a week or so to look at this.

[2017-01-27 21:53] SethDavenport commented on #214
@egervari @clbond did either of you make any headway on this

[2017-01-27 21:58] SethDavenport commented on #216
I an unable to reproduce this. Can you provide more detail?

At first glance it looks like you are missing your typings files.  Try running `npm run typings`

[2017-01-27 22:21] SethDavenport commented on #189
You may need to switch your circle ci settings to use ubuntu 14.04 containers

[2017-01-30 11:25] dilagurung commented on #211
downgrading typescript from 2.1.1 to 2.0.0 remove the error thrown by awesome-typescript-loader.
On the other hand, jasmine used on the system throws an error and prompt to upgrade the typescript version. Trapped in loop. Need an immediate solution for it.

[2017-02-08 13:37] spwizard opened #218 "Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema. - configuration.module.rules[11] should be an object."
When running npm install, the post build returns the above error.  I have tried upgrading to webpack 2.2 as I noticed a pull request for this, but it still fails.

[2017-02-10 12:43] winkerVSbecks commented on #8
both angular2-starter & angular-redux-starter should have it now

[2017-02-10 12:49] #217 closed

[2017-02-10 14:26] #201 closed

[2017-02-10 21:45] #8 closed

[2017-02-15 12:09] paceto256 opened #219 "npm run dev - tooks about 6 seconds on reload"
[typescript-react-redux-example]
When I run the app in dev mode it tooks about 6 seconds to rebuild.
While iterating a 100 times a day it's pain. Any suggestions how we can optimize it?

[2017-02-24 16:43] ShaunEvening commented on #54
@SethDavenport, I have whipped up some quick drafts for a `CONTRIBUTING.md`, `ISSUE_TEMPLATE.md`, and `PULL_REQUEST_TEMPLATE.md` here:

https://github.com/ShaunLloyd/rangle-starter/tree/chore/contribution-guidelines/.github

thoughts?

[2017-02-27 18:59] ShaunEvening commented on #213
In the book we referred to `1.x` as AngularJS and `>=2` as Angular. When comparing the two we use specific version numbers to avoid confusion. It seems like the `rangle-starter` repo does a pretty good job of this already.

Perhaps renaming some of the `angular2-*` repos to `angular-*` in preparation for the release of ng4 in march would be a good idea?

[2017-02-27 19:19] smithad15 commented on #214
This still hasn't been completed in `angular2-starter-example`

[2017-02-27 19:20] smithad15 commented on #204
This still hasn't been completed in angular2-starter-example

[2017-02-27 20:04] SethDavenport commented on #204
In many ways this overlaps with rangle/angular2-redux-example#247, which I've been working on: https://github.com/rangle/angular2-redux-example/pull/292

[2017-02-27 20:06] SethDavenport commented on #204
The idea is that we'll get AoT and lazy loading if we move to the CLI, without having to maintain the toolchain. However one blocker to moving to the cli was the presence of the local auth server.  My PR replaces it with mock endpoints.

Once that's done, we can cli-ify it, and then move the folder structure around so it makes more sense/matches `ng lint` rules.

[2017-02-27 20:07] SethDavenport commented on #204
I was having some issues with Robot but we should perhaps disable those tests and re work them eventually in terms of protractor?

[2017-02-27 20:07] SethDavenport commented on #204
Especially since react-redux-example has the same robot test setup almost exactly if we want to keep a robot example around for QA

[2017-02-27 23:24] SethDavenport commented on #214
Agreed. Hoping we can get some traction on it once the example is cliified

Senior JavaScript Developer

*Rangle.io <http://rangle.io/> -** Rewriting the Web*
Phone: 416-737-1555  |  1-844-467-2645
Mail: 129 Spadina, Suite 500, Toronto, ON. M5V 3E3
Connect with us!
Blog <http://rangle.io/blog/> | Twitter <https://twitter.com/rangleio> |
LinkedIn <http://www.linkedin.com/company/5018494>  | Google+

[2017-02-28 14:08] SethDavenport commented on #213
Sure

I guess there are two things two consider:
* how we call things in docs
* the actual repo names.

For docs, what we've been doing in the gitbook seems reasonable. I've done something similar in the angular-redux docs (Angular 1.x, Angular 2+).

Don't think that will work for repo names though.  In which case I'm thinking:

angular-redux-example -> angular1-redux-example
angular2-redux-exampl

[2017-02-28 17:10] smithad15 commented on #204
Agreed that we should be maintaining a Protractor suite as a reference point. I can see that coming up more often in Angular-land than Robot

[2017-03-05 21:46] ken2017 opened #221 "rangle-starter angular 2 with angular 2 material"
Hi,
 Thank you for the nice job, i try to install the rangle-start for angular 2 and i try to add angular material 2.0.beta to the application , unfortunately I have this error when i try to launch npm install

Darwin 16.4.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "run" "build"
npm ERR! node v6.9.2
npm ERR! npm  v3.10.9
npm ERR! code ELIFECYCLE
npm ERR! angular2-starter@0.2.0 buil

[2017-03-13 19:39] estaub commented on #36
It would be good to include a pass-through property or two (properties provided by the parent component) in e.g. counter-page.tsx, since this takes a long time to puzzle out how to fix the first time.  (For me, the solution was to create an `IOwnProps` interface for them:

[code]

... and then set it as ownProps on the connect:

[code]

but you may well have a better way to handle this!

[2017-04-05 17:51] rbrander commented on #53
I've seen this happen before for my personal projects too.  I think this is a heroku configuration issue, but I'm not 100%.

[2017-04-05 17:55] rbrander commented on #140
This worked for me as a logged out user of github, which tells me the repo is public and you should see it.

Here is a copy of the file's contents:
[code]

[2017-04-05 17:55] #140 closed

[2017-04-07 14:33] AndresCL commented on #211
Still having this issue. I just followed angular 2 cli instructions:

`$ npm install -g angular2-cli`
`$ ng2 create <app-name>`
`$ cd <app-folder>`
`$ ng2 init`
`$ ng2 serve`

Module build failed: TypeError: Cannot read property 'exclude' of undefined
    at applyDefaults (/usr/local/lib/node_modules/angular2-cli/node_modules/awesome-typescript-loader/src/instance.ts:266:72)
    at Object.ensureIn

[2017-04-07 16:24] rbrander commented on #216
@helojo Since this issue has had little activity since you opened it, I'm going to assume Seth's advice helped you and thus I'm closing this issue.  If you feel this issue is still relevant, please feel free to reopen it with additional steps to reproduce the error. Thanks!

[2017-04-07 16:24] #216 closed

[2017-04-07 16:44] rbrander commented on #207
@SethDavenport The repo is typescript-react-redux-starter.  I cloned this repo and after doing npm install I received the same error when trying to run the tests.  There are tests in the repo (e.g. /src/components/button/index.test.tsx) but none of them are being run. I wonder if this is a problem with the regular expression used in src/tests.entry.ts? Also, this repo may be deprecated as we now u

[2017-04-07 16:46] rbrander commented on #200
@helojo This is an old issue and appears to be have been resolved in issue #216. Since this issue is older with the same error, I'm going to assume this issue is now obsolete as #216 is newer and is closed.  Closing this issue.

[2017-04-07 16:46] #200 closed

[2017-04-07 16:48] rbrander commented on #10
@SethDavenport I wonder if this will still be an issue now that we're using create-react-app.  Since this issue was created before we ported our started over to using create-react-app, could you verify if this issue is still relevant?

[2017-04-07 17:02] rbrander commented on #219
@paceto256  The typescript-react-redux-example repo is no longer being used as part of the rangle-starter.  It has been replaced by an ES6 React/Redux starter.  Please create a new issue if you are still having issues in dev mode using the new React starter.

[2017-04-07 17:02] #219 closed

[2017-04-07 17:07] rbrander commented on #197
@marcandrews I looked into using Rollup and I believe that it wouldn't be the right approach for our starters.  The reason being is that most of the unique features that Rollup brings, are now already features of webpack 2.  Also, Rollup is typically recommended for building libraries instead of Apps; and our starters are designed for building applications.

Please review this document out-lining

[2017-04-07 17:07] #197 closed

[2017-04-07 17:10] rbrander commented on #153
@TrevorMills The tests are designed to be found in the src/ folder, and thus why your tests in server/ are not being found and executed.  You could move your server code to the src folder, or perhaps just your tests.  Alternatively, you could modify the karma.config.js file to include your server path in the regular expression that it uses for finding tests.

Since your issue was opened a while ag

[2017-04-07 17:10] #153 closed

[2017-04-07 20:32] marcandrews commented on #197
I opened this issue when we were still fighting with bundle sizes. It seems as though lazy-loading and SSR has come a long way so, with respect to bundle sizes and initial load times, perhaps tree-shaking is no longer the "holy grail" it once was depicted to be.

[2017-04-10 15:43] rbrander commented on #218
@spwizard Could you please provide reproduction steps?  Specifically, it would be good to know which type of starter you used.  It might also be helpful to post the error messages you are receiving, or the npm-debug.log file.

[2017-04-10 15:48] rbrander commented on #124
I checked this today and it worked for me using node v6.10.2 (latest stable).  Seeing as how #104 has been merged, and I'm unable to reproduce this, I'm going to assume this is resolved and close this issue.

@eddiewang If you are still having issues, please open a new issue.

[2017-04-10 15:48] #124 closed

[2017-04-10 16:06] rbrander commented on #205
The current react starter doesn't provide much in the way of forms.  I see some code in the reducers, and the package.json includes v5.3.2.

@SethDavenport I suggest we remove the references to redux-forms as there is no example code using it.

[2017-04-10 16:20] #171 closed

[2017-04-10 16:21] #170 closed

[2017-04-10 16:35] rbrander commented on #175
@sivaramsi I'm unable to reproduce this.  There have been lots of changes to Angular since Oct 5, 2016 (when you created this issue).  I'm hoping that you no longer have this issue.

I'm going to close this issue and if you're still having issues, please open a new issue.

[2017-04-10 16:35] #175 closed

[2017-04-10 16:36] rbrander commented on #172
It appears this issue has been resolved; closing.

[2017-04-10 16:36] #172 closed

[2017-04-21 20:43] SethDavenport commented on #218
Pretty sure this is no longer happening.

[2017-04-21 20:43] #218 closed

[2017-04-21 20:47] smithad15 commented on #194
Investigation complete on a project. This does not provide the gains that were hypothesized

[2017-04-21 20:47] #194 closed

[2017-05-31 20:53] nicraMarcin commented on #211
still the same error :/

[2017-07-09 00:36] didacpr commented on #211
Does anyone know the problem with this error?

[2017-09-17 05:41] Arafullahi commented on #211
@AndresCL did you get the solution ?

[2018-08-22 20:54] Harish519 opened #222 "npm run dev proxy error [rror occurred while trying to proxy request /api/auth/login from 127.0.0.1:8080 to http://localhost:3000]"
E:\react-redux-example>npm run dev

[HPM] Proxy created: /api  ->  http://localhost:3000
 http://localhost:8080/
webpack result is served from /
content is served from E:\react-redux-example
404s will fallback to /                                                                            40% 4/8 build modulesThe react/wrap-multilines rule is deprecated. Please use the react/jsx-wra[HPM] Error occ

[2020-03-23 21:22] lounceny2016 commented on #211
I am also getting the same error. any idea on how to fix it.